﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@*<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />*@
<div class="row" style="color: white !important; margin-top: 200px;">
    <div class="col-4"></div>
    <div class="col-4" style="text-align:left;">
        <h1>@ViewData["Title"]</h1>
        <h3>Enter your email.</h3>
    </div>
</div>
<div class="row" style="color: white !important;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
