﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" style="color: white !important;">
    <div class="col-4"></div>
    <div class="col-4" style="text-align:left;">
        <h1>@ViewData["Title"]</h1>
        <h3>Create a new account.</h3>
    </div>
</div>
<div class="row" style="color: white !important;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
            </div>
            <br />
            <div class="form-group">
                 <p >
                    <a style="color:#59D8BD;" asp-area="Identity" asp-page="/Account/Login">Login to account </a>
                </p>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    //<div>
                    //    <p>
                    //        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                    //        about setting up this ASP.NET application to support logging in via external services</a>.
                    //    </p>
                    //</div>
                }
                else
                {
                    //<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    //    <div>
                    //        <p>
                    //            @foreach (var provider in Model.ExternalLogins)
                    //            {
                    //                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    //            }
                    //        </p>
                    //    </div>
                    //</form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
