﻿@*  //This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    //Normally this would be emailed: *@

@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" style="color: white !important;">
    <div class="col-4"></div>
    <div class="col-4" style="text-align:left;">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row"style="color: white !important;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <hr />
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
        <p>
            <a style="color:#59D8BD;" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
            }
            else
            {
        <p>
                Please check your email to confirm your account.
        </p>
            }
        }
    </div>
</div>

