﻿@using TrailAir.DB.DataManagersCache;
@{
    ViewData["Title"] = StaticTextCache.GetCurrentLangText("users");
}
<div> 
    <user-edit :on-update-success-func="getData" ref="userEditCmp"></user-edit>

    <div class="row wrapper border-bottom purple-2-bg page-heading">
        <div class="col-lg-12">
            <h2><span class="bold">@StaticTextCache.GetCurrentLangText("users")</span></h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">@StaticTextCache.GetCurrentLangText("home") Home</a>
                </li>
                <li class="breadcrumb-item active">
                    @StaticTextCache.GetCurrentLangText("users") 
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox border-bottom">
                    <div class="ibox-title">
                        <h5>@StaticTextCache.GetCurrentLangText("filters") </h5>
                        <a ng-cloak ng-if="slctFilterUserCompany.GetSelectValue().length > 0" class="badge badge-success badge-um " style="margin-right: 3px; cursor:initial;">@StaticTextCache.GetCurrentLangText("companyFilterSet")</a>
                        <a ng-cloak ng-if="slctFilterUserPermission.GetSelectValue().length > 0" class="badge badge-success badge-um " style="margin-right: 3px; cursor:initial;">@StaticTextCache.GetCurrentLangText("permissionFilterSet")</a>
                        <a ng-cloak ng-if="slctFilterUserWorkPosition.GetSelectValue().length > 0" class="badge badge-success badge-um " style="margin-right: 3px; cursor:initial;">@StaticTextCache.GetCurrentLangText("workPositionFilterSet")</a>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display: none;">
                        <div class="row">
                            <div class="form-group col-xl-3">
                                <div class="row">
                                    <label for="description" class="col-lg-12 col-form-label">
                                        @StaticTextCache.GetCurrentLangText("companyFilter")</label>
                                    <div class="col-lg-12">
                                        <select id="slctFilterUserCompany" ng-model="slctFilterUserCompanyModel" class=" form-control" 
                                        multiple="multiple" placeholder="@StaticTextCache.GetCurrentLangText("selectoption")">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-1">
                                <div class="row">
                                    <label class="col-lg-12 col-form-label">&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="clearFilter('company')">
                                        @StaticTextCache.GetCurrentLangText("clearFilter")</button>
                                </div>
                            </div>
                            <div class="form-group col-xl-3">
                                <div class="row">
                                    <label for="description" class="col-lg-12 col-form-label">
                                        @StaticTextCache.GetCurrentLangText("permissionFilter")</label>
                                    <div class="col-lg-12">
                                        <select id="slctFilterUserPermission" ng-model="slctFilterUserPermissionModel" class=" form-control" 
                                        multiple="multiple" placeholder="@StaticTextCache.GetCurrentLangText("selectoption")">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-1">
                                <div class="row">
                                    <label class="col-lg-12 col-form-label">&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="clearFilter('permission')">
                                        @StaticTextCache.GetCurrentLangText("clearFilter")</button>
                                </div>
                            </div>
                            <div class="form-group col-xl-3">
                                <div class="row">
                                    <label for="description" class="col-lg-12 col-form-label">
                                        @StaticTextCache.GetCurrentLangText("workPositionFilter")</label>
                                    <div class="col-lg-12">
                                        <select id="slctFilterWorkPosition" ng-model="slctFilterUserWorkPositionModel" class=" form-control" 
                                        multiple="multiple" placeholder="@StaticTextCache.GetCurrentLangText("selectoption")">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-1">
                                <div class="row">
                                    <label class="col-lg-12 col-form-label">&nbsp;</label>
                                    <button type="button" class="btn btn-primary btn-xs" ng-click="clearFilter('workPosition')">
                                        @StaticTextCache.GetCurrentLangText("clearFilter")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content um-border-top" style="overflow:auto">
                        <div class="row">
                            <div class="form-group col-8">
                                <div class="btn-group">
                                    <input type="text" class="form-control" 
                                    placeholder="@StaticTextCache.GetCurrentLangText("search")" 
                                    ng-model="usersFilter" ng-change="onFilterChange()" />
                                </div>
                            </div>
                        </div>
                        <table class="table table-stripped EditTable table-hover no-margins toggle-arrow-tiny">
                            <tbody>
                                <tr>
                                    <th>@StaticTextCache.GetCurrentLangText("firstName")</th>
                                    <th>@StaticTextCache.GetCurrentLangText("lastName") </th>
                                    <th>@StaticTextCache.GetCurrentLangText("telephoneNumber") </th>
                                    <th>@StaticTextCache.GetCurrentLangText("company") </th>
                                    <th>@StaticTextCache.GetCurrentLangText("permission") </th>
                                    <th>@StaticTextCache.GetCurrentLangText("email") </th>
                                    <th class="text-right no-print">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-xs" v-on:click="openEditPopup()">
                                                @StaticTextCache.GetCurrentLangText("create") </button>
                                        </div>
                                    </th>
                                </tr>
                                @{
                                    var clickableAction = "openEditPopup(x.id);$event.stopPropagation();";
                                }
                                <tr v-for="x in userList" class="clickable" v-on:click="@clickableAction">
                                    <td>
                                        <div class="row">
                                            <div class="col">{{ x.firstName }}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">{{ x.lastName }}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">{{ x.phoneNumber }}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">{{x.teamName}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">{{x.permissionName}}</div>
                                        </div>
                                    </td>
                                     <td>
                                        <div class="row">
                                            <div class="col">{{ x.email }}</div>
                                        </div>
                                    </td>
                                    <td class="text-right no-print">
                                        <div class="btn-group">
                                            @*<button type="button" class="btn btn-primary EditButton btn-xs">Edit</button>*@
                                            @*<a class="btn btn-primary btn-xs" ng-href="@Url.Action("LocationDetails", "Location")?ProjectId=@ViewBag.SelectedProject.Id&LocationId={{x.id}}">@StaticTextCache.GetCurrentLangText("open")</a>*@
                                            <button type="button" class="btn btn-success btn-xs" v-on:click="@clickableAction">
                                                @StaticTextCache.GetCurrentLangText("Edit") Edit</button>
                                            @*<button type="button" class="btn btn-danger btn-xs" ng-click="userEditHelperModal.deleteBoObject(userEditHelperModal, x.id);$event.stopPropagation();">@StaticTextCache.GetCurrentLangText("delete")</button>*@

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @Html.Partial("../Components/UserEdit/UserEditCmp.cshtml")
    @Html.Partial("../Components/Select2/Select2-And-Edit-Popup.cshtml")
    @Html.Partial("../Components/Select2/Select2-Sync.cshtml")
    @Html.Partial("../Components/TeamEdit/TeamEditCmp.cshtml")

    <script src="~/js/Helpers/PagerHelper.js" asp-append-version="true"></script>
    <script src="~/js/UserList.js" asp-append-version="true"></script>

}