﻿@using TrailAir.Web.UI.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrailAir</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

    @*<environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" />
        </environment>*@
    <environment names="Development,Staging,Production">
        @*<link rel="stylesheet" href="/dist/styles.css">*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/umaSoft.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/datepicker3.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/cropper/dist/cropper.min.css" />
        <link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.css" />

        @* --- vis timeline ---*@
        <link rel="stylesheet" href="~/lib/vis-timeline/vis-timeline-graph2d.min.css" />

        <link rel="stylesheet" href="/css/countrySelect.css" asp-append-version="true">

        <link rel="stylesheet" href="~/lib/treetable/jquery.treetable.css" />
        <link rel="stylesheet" href="~/lib/treetable/jquery.treetable.theme.default.css" />

        @* --- jquery steps design ---*@
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />

        @* --- angular wizard ---*@
        @*<link rel="stylesheet" href="~/lib/angular-wizard/angular-wizard.min.css" />*@

        @* --- toastr---*@
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />

        <link rel="stylesheet" href="~/lib/tippy/tippy.css" />

        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script src="/js/countrySelect.js"></script>
        @* --- pdf previewer ---*@
        <link href="~/css/pdfviewer.css" rel="stylesheet" asp-append-version="true" />
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
        <script src="/js/countrySelect.js" asp-append-version="true"></script>

        @* --- clock picker ---*@
        <link href="~/lib/clockpicker/clockpicker.css" rel="stylesheet" />

        @* --- time picker ---*@
        <link href="~/lib/jquery-timepicker/jquery-timepicker.min.css" rel="stylesheet" />

        @* --- switcher ---*@
        @*<link href="~/lib/switchery/switchery.css" rel="stylesheet" />*@

        @* --- intl-tel-input ---*@
        <link href="~/lib/intl-tel-input/intlTelInput.css" rel="stylesheet" />

        @* --- icheck ---*@
        <link href="~/lib/iCheck/custom.css" rel="stylesheet" />

        @* --- awesome-bootstrap-checkbox ---*@
        <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />

    </environment>
</head>
<body class="skin-con fixed-sidebar">
    <div class="loading-overlay loading-theme-light loading-hidden" id="loaderId"
         style="position: fixed; z-index: 999009123499999123432; top: 0px; left: 0px; width: 100%; height: 100%; background-color:white; opacity: 0.3; display: none;">
    </div>
    @* This is the container in which you move your modals to so multiple modals can work properly *@
    <div id="modal-containers">
    </div>

    <!-- Skin configuration box -->
    <!-- <partial name="_SkinConfig" /> -->
    <!-- Wrapper-->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        <partial name="_Navigation" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="_TopNavbar" />
            <!-- Main view  -->
            <div id="vue-app">
                @RenderBody()
            </div>

            <!-- Footer -->
            <partial name="_Footer" />

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    @RenderSection("toast", required: false)
    <!--<environment names="Development,">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/pace/pace.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>-->
    <!-- Only for demo purpose -->
    <!--<script src="~/js/skin.config.js"></script>
    </environment>-->




    <environment names="Development,Staging,Production">

        @*<script src="/dist/runtime.js" defer></script>
            <script src="/dist/polyfills.js" defer></script>
            <script src="/dist/scripts.js" defer></script>
            <script src="/dist/vendor.js" defer></script>
            <script src="/dist/main.js" defer></script>*@




        <script>


            var globalText = {
                AtLeastOneWorkPosition_User: "User must have at least 1 work position!",
                PleaseSelect: "Bitte wählen Sie",
                Filter3char: "Filter, Minimum drei Zeichen",
                NoResult: "Kein Ergebnis",
                Yes: "Yes",
                No: "No",
                Cancel: "Cancel",
                ConfirmCompleted: "Fertig erstellt ?",
                DeleteConfirmTitle: "Löschung bestätigen?",
                DeleteConfirmText: "Sie können diese Änderung nicht mehr rückgängig machen!",
                HoursWithinLimit: "Les heures doivent être dans la limite",
                HourRangeMinMax: "veuillez sélectionner une plage d'heures entre min et max.",
                EvaluationPageAccessIds: "La page d'évaluation doit être accédé par ID de patient ou par ID d'observation!",
                DropFilesOrClick: "Déposer les fichiers ici ou cliquer pour télécharger.",
                CancelUpload: "Annuler le téléchargement",
                Files: "dossiers",
                UploadFileLimit: "Sie können nicht mehr herunterladen als",
                FileTypeNoMatch: "Datei stimmt nicht mit unterstützten Dateitypen überein",
                FileTooBig: "Die Datei ist zu gross",
                MaxFileSize: "Maximale Dateigröße",
                MustUploadAFile: "Sie müssen eine Datei hochladen",
                MegaByteShort: "MiB",
                Remove: "Entfernen",
                PasswordNotMatched: "Le mot de passe ne correspond pas au mot de passe de confirmation. Veuillez réessayer",
                ForgotPassword: "J'ai oublié mon mot de passe",
                /*AddEditExistingList: "Hinzufügen / Ändern einer bestehenden Liste:",*/
                AddEditExistingList: "Add/edit existing list",
                EvaluationPageAccessIds: "La page d'évaluation doit être accédé par ID de patient ou par ID d'observation!",
                BehaviourEvaluation: "Évaluation du comportement",
                FileUploadErrMsg: "Veuillez sélectionner les fichiers à télécharger",
                KnowledgeEvaluation: "Évaluation des connaissances",
                StatusEvaluation: "Évaluation de l'état",
                All: "Tous",
                Unassigned: "Non attribué",
                Unassigned: "Non attribué",
                Attention: "Attention!",
                newTaskCreated: "Neue Aufgabe erstellt!",
                AppointmentDateMandatory: "La date de rendez-vous est obligatoire.",
                CheckedNoStartDate: "vérifié mais pas de date de début.",
                ContinuousPlanTitleMandatory: "Titre de planification continue est obligatoire.",
                CheckedNoStartDate: "vérifié mais pas de date de début.",
                TimeNotValid: "Le temps n'est pas valide! Exemple: 14, 8, 14h23, 8h45, 0723, 1830",
                Intervention: "Intervention",
                AllEvalProbMandatory: "Tous les problèmes d'évaluation, à l'exception des signes et symptômes, sont obligatoires",
                PatientMandatoryFields: "Veuillez remplir tous les champs obligatoires.(Civilité, Prénom, Nom, Date de naissance, Ordre de naissance, Sexe,  Le numéro NIR)",
                DataUpdatedSuccess: "Data updated successfully.",
                ErrorUpdating: "Error updating.",
                SelectDocumentStatus: "Veuillez sélectionner le statut du document.",
                RppsVerify: "S'il vous plaît vérifier le numéro RPPS",
                RppsKeyEnter: "Vous devez entrer la clé RPPS",
                AdeliVerify: "S'il vous plaît vérifier le numéro ADELI",
                SelectElementEdit: "Select element to edit",
                UploadError: "Beim Herunterladen ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut.",
                SelectAtLeastOneInterv: "Sélectionnez au moins une intervention",
                HoursAssigned: "Heures attribuées",
                HoursPlanned: "Heures prévues",
                Appointments: "Rendez-vous",
                Total: "Total",
                Success: "Erledigt",
                Completed: "Réalisé",
                Temperature: "Température",
                Pulsations: "Pulsations",
                Saturation: "Saturation",
                Systolic: "Systolique",
                Diastolic: "Diastolique",
                Hospitalized: "Hospitalisé",
                Observations: "Observations",
                ClinicalSurveillance: "Surveillance Clinique",
                Copy: "Kopieren",
                Print: "Impression",
                Search: "Rechercher",
                First: "Premier",
                Next: "Suivant",
                Last: "Dernier",
                Previous: "Précédent",
                NoDataInTableTxt: "Keine Daten in der Tabelle vorhanden",
                Now: "Maintenant",
                Confirm: "Confirm",
                NewSchedule: "Nouveau programme",
                OldSchedule: "Ancien horaire",
                PopulateMandatoryFields: "Please populate all mandatory fields",
                PleaseCheckFollowingValues: "Please check following values",
                ValidationError: "Validation error",
                Error: "Error",
                Warning: "Warning"
            };
            var GlobalMultiLanguageText = {
                AreYouSure: "Are you sure?"
            }
        </script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


        @* select2 *@
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
        <script src="~/js/Helpers/Select2_Helper_S4.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/Select2_LoadAsync_Helper_S10.js" asp-append-version="true"></script>


        <script src="~/js/Helpers/AudioFileHelper.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/AudioMultipleFileHelper.js" asp-append-version="true"></script>




        <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>



        <script src="~/lib/pace/pace-1.2.4.js"></script>
        <script>
            Pace.on('stop', function () {
                $("body").removeClass("pace-running");
            });
        </script>

        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/script.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @*    <script src="~/js/angular.min.js"></script>
            <script src="~/js/angular.config.js"></script>*@
        @* angular routing *@
        @*<script src="~/js/angular-route.js"></script>*@

        @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>*@

        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>

        @* datepicker *@
        <script src="~/lib/datapicker/bootstrap-datepicker-custom.js"></script>
        <script src="~/lib/datapicker/locale/bootstrap-datepicker.fr.js"></script>
        <script src="~/lib/datapicker/locale/bootstrap-datepicker.de.js"></script>
        <script src="~/js/Helpers/DatePickerHelper.js" asp-append-version="true"></script>

        @* dropzone *@
        <script src="~/lib/dropzone/dropzone.js"></script>
        <script src="~/js/Helpers/DropzoneHelper_SingleFile_S6.js" asp-append-version="true"></script>

        @* cropper *@
        <script src="~/lib/cropper/dist/cropper.min.js"></script>

        <script src="~/js/Helpers/DateOb_S7.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/StringOb.js" asp-append-version="true"></script>

        @*<script src="~/js/angular-chosen.min.js"></script>*@

        @*radi ovoga var myApp = angular.module('UmaSoft', ['localytics.directives']);*@
        <script src="~/js/Helpers/AlertObject.js" asp-append-version="true"></script>
        @*<script src="~/js/Helpers/ResponseHelper.js" asp-append-version="true"></script>*@
        @*<script src="~/js/Helpers/PostManager.js" asp-append-version="true"></script>*@
        <script src="~/js/Helpers/FileHelper_S3.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/ImageHelper_S4.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/DocumentsMultipleFileHelper.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/TooltipEditHelper_S5.js" asp-append-version="true"></script>



        @* jstree *@
        <script src="~/lib/jstree/dist/jstree.js"></script>
        <script src="~/lib/jstree/src/misc.js"></script>

        @* validationHelper *@
        <script src="~/js/Helpers/ValidationHelper_S6.js" asp-append-version="true"></script>

        @* timelineHelper *@
        <script src="~/js/Helpers/TimelineHelper.js" asp-append-version="true"></script>

        @* TreeHierarchyHelpers *@
        <script src="~/js/Helpers/TreeHierarchyHelper.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/TreeHierarchy_SingleSelectHelper.js" asp-append-version="true"></script>

        @* --- angular wizard ---*@
        <script src="~/lib/steps/jquery.steps.min.js" asp-append-version="true"></script>
        @*<script src="~/lib/angular-wizard/angular-wizard.min.js" asp-append-version="true"></script>*@

        @* --- pdfjs ---*@
        <script src="~/lib/pdfjs/pdf.js"></script>
        <script src="~/js/Helpers/PdfPreviewHelper.js" asp-append-version="true"></script>

        @* --- toastr ---*@
        <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
        <script src="~/js/Helpers/toastr.helper.js" asp-append-version="true"></script>

        @* --- clock picker ---*@
        <script src="~/lib/clockpicker/clockpicker.js"></script>
        <script src="~/js/Helpers/ClockPickerHelper.js" asp-append-version="true"></script>

        @* --- time picker ---*@
        <script src="~/lib/jquery-timepicker/jquery-timepicker.min.js"></script>

        @* --- switcher ---*@
        @*    <script src="~/lib/switchery/switchery.js"></script>
            <script src="~/lib/angular-switchery/ng-switchery.js"></script>
        *@
        @* --- intl-tel-input ---*@
        <script src="~/lib/intl-tel-input/intlTelInput.min.js.js" asp-append-version="true"></script>

        @* --- iCheck ---*@
        <script src="~/lib/iCheck/icheck.min.js" asp-append-version="true"></script>

        @* --- PagerHelper ---*@
        @*<script src="~/js/Helpers/PagerHelper.js"></script>*@

        @*ui-bootstrap*@
        @*<script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>*@

        @* --- firebase js for VIDEO upload----*@
        <script src="~/js/firebase.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/tippy/tippy.all.min.js"></script>


    @* --------------------- START Vue.JS 2 code ---------------------  *@

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> @*  FOR DEVELOPMENT   *@
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>*@ @*   FOR PRODUCTION   *@


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.0/lodash.js"></script> @*This is the library for ng-Debounce but in Vue*@

    @* --------------------- END Vue.JS 2 code ---------------------  *@
    <script src="~/js/Helpers/PaceLoaderHelper.js" asp-append-version="true"></script>
    <script src="~/js/Helpers/PostManager.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)

    @*
        This is fix for modals because they do not work properly if they are not out of the .wrapper
        1. You have to move all the modals out of the .wrapper
        2. Then you have to organize the modals so that the one with the largest tabindex is last in the HTML list
        3. Then you have to register close method on modals that if you have any modals open, you put back 'modal-open' class on body
        because otherwise when you close the top modal (e.g. the second one), the first one would lose scroll bar
    *@
    <script type="text/javascript">
        // 1.
        $(".modal").appendTo("#modal-containers");

        // 2.
        $("#modal-containers").find('.modal').sort(function (a,b){

            return + a.getAttribute('tabindex') -
            +b.getAttribute('tabindex');
        })
        .appendTo('#modal-containers');

        // 3.
        $('.modal').on('hidden.bs.modal', function (e) {

            if ($('.modal').is(':visible')) {
                $('body').addClass('modal-open');
            }
        });

    </script>
</body>
</html>
