﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name, })
        .ToList();

    var defaultCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<div style="display:none !important;" title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name"
     class="d-flex align-items-center">
    <form id="selectLanguage" name="selectLanguage"
          method="get"
          class="d-flex align-items-center"
          role="form">
        <label asp-for="@requestCulture.RequestCulture.UICulture.Name"
               class="mb-0 mr-2 d-none d-sm-block" style="color:white;">@StaticTextCache.GetCurrentLangText("language")</label>

            <div class="form-item mr-5">
                <input id="country_selector" type="text">
                <label for="country_selector" style="display:none;">Select a country here...</label>
            </div>
            <div class="form-item" style="display:none;">
                <input type="text" id="country_selector_code" name="country_selector_code" data-countrycodeinput="1" readonly="readonly" placeholder="Selected country code will appear here" />
                <label for="country_selector_code">...and the selected country code will be updated here</label>
            </div>
            <button type="submit" style="display:none;" id="countrySelect">Submit</button>
        </form>
    </div>

    <script>

    //for this Layout to work on the server side needs to be called a controller extending BaseDBController because he louds the current language data
    var lanUiLangFull = '@defaultCulture';
    var lanUiLangShort = lanUiLangFull.split('-')[0];

    $("#country_selector").countrySelect({
        defaultCountry: lanUiLangShort,
        defaultStyling: "inside",
        onlyCountries: ['en', 'de'],
        preferredCountries: [],
        responsiveDropdown: true
    });

    const myData = $("#country_selector").countrySelect("getSelectedCountryData");

    //$("#country_selector").countrySelect("selectCountry", "gb");
    //$("#country_selector").countrySelect("setCountry", "United States");


    function onSelect() {
        document.getElementById("selectLanguage").submit();
    };
    </script>

    @*asp-items="cultureItems"*@


    @*<select id="SelectedLang" class="form-select-override mr-5"
                name="culture"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                onchange="this.form.submit();">
            @foreach (var cul in LocOptions.Value.SupportedUICultures)
            {
                <option value="@cul.Name" data-fas="star"> @cul.Name</option>
            }
        </select>*@

    @*<ul class="navbar-nav mr-5 justify-content-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="LangDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</a>
                <div class="lang-drop dropdown-menu position-absolute" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr"> </span>  German</a>
                </div>
            </li>
        </ul>*@