﻿@using Microsoft.AspNetCore.Identity
@using TrailAir.DB.Models.Base;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-top-links navbar-right" style="z-index: 50;">
        <li class="nav-item">
            <div>

            </div>
        </li>
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">@UmaSoft.DB.DataManagers.StaticTextCache.GetCurrentLangText("logout")</button>
                </form>
            </li>*@
    </ul>
    <div id="localization" style="position: absolute;right: 10px;top: 10px; z-index: 50; margin-top: 5px;" >
        <partial name="_Localization" />
    </div>
}
else
{
    <ul class="nav navbar-top-links navbar-right" style="z-index: 150;">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}

