﻿@using TrailAir.Web.UI.Managers


<nav class="navbar-default navbar-static-side border-right" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style="height:55px; color: white;">
                <div class="logo-element">
                    TrailAir
                </div>
                @ViewBag.CurrentUser.Fullname
            </li>
            <li class="@Html.IsSelected(controller: "Home", action:"Index")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-building-o"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("home") Home</span></a>
            </li>
            @if (AuthorizationManager.IsSuperUserOrAbove(ViewBag.CurrentUser, false))
            {
                <li class="@Html.IsSelected(controller: "Team", action:"List")">
                    <a href="@Url.Action("List", "Team")"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("team")</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "User", action:"List")" id="navigationConfigurationLi">
                    <a href="@Url.Action("List", "User")"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("users")</span></a>
                    @* <ul id="navigationConfigurationUl" class="nav nav-second-level collapse @Html.IsSelected(controllers: new string[] { "User", "Permission", "ProjectType", "LocationType", "Industry", "TaskGroup", "TaskType","TaskTitle", "TaskCheckList", "TaskPhase", "TaskTemplate","StaticText", "Status", "WorkPosition", "Measure","Norm", "Country", "Machine", "Material", "Car" }, cssClass: "in")">
                        <li class="@Html.IsSelected(controller: "User")">
                        <a href="@Url.Action("Index", "User")"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("users")</span></a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Permission")">
                        <a href="@Url.Action("Index", "Permission")"><i class="fa fa-key"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("permissions")</span></a>
                        </li>
                        </ul>*@
                </li>
            }

            <li class="@Html.IsSelected(controller: "Experiment", action:"List")">
                <a href="@Url.Action("List", "Experiment")"><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("experiment") Experiment</span></a> @*TODO: Change this with static text*@
            </li>
@*            <li class="logoutBtnLi">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" id="logoutForm">
                </form>
                <a href="#" onclick="document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> <span class="nav-label" data-i18n="nav.layouts">@StaticTextCache.GetCurrentLangText("logout") Logout</span></a>
            </li>*@
        </ul>
    </div>
</nav>
<script>
    var configurationElementUl = document.getElementById('navigationConfigurationUl');
    var configurationElementLi = document.getElementById('navigationConfigurationLi');

    if (configurationElementUl && configurationElementUl.classList.contains("in"))
    {
        configurationElementLi.classList.add("grouped");
        configurationElementLi.classList.add("active");
    }
</script>