﻿<div class="pdf-viewer">
    <div role="toolbar" id="toolbar">
        <div class="btn-group" id="pager">
            <button class="btn-outline-primary" data-pager="prev">
                @StaticTextCache.GetCurrentLangText("back")
            </button>
            <button class="btn-outline-primary" data-pager="next">
                @StaticTextCache.GetCurrentLangText("next")
            </button>
        </div>
        <div id="page-mode">
            <span>@StaticTextCache.GetCurrentLangText("page")&nbsp;</span>
            <span class="currentPage">0</span>
            <span>&nbsp;@StaticTextCache.GetCurrentLangText("of")&nbsp;</span>
            <span class="totalPages">0</span>
        </div>
        <div>
            <button id="downloadPdf" class="btn btn-outline-success">@StaticTextCache.GetCurrentLangText("download")&nbsp;&nabla;</button>
        </div>
        <div>
            <button id="closePdfPreview" class="btn btn-outline-light">&times;</button>
        </div>
    </div>
    <div id="viewport-container"><div role="main" id="viewport"></div></div>
</div>