﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; height: 55px;">
        <div class="navbar-header" style="display: flex;">
            @*<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" style="z-index: 100;"><i class="fa fa-bars"></i> </a>*@

            @*Hamburger icon*@
            <div class="hamb-btn not-active navbar-minimalize">
                <span class="hamb-line"></span>
                <span class="hamb-line"></span>
                <span class="hamb-line"></span>
            </div>

            <div>

            <img src="~/images/purple_design/GivaudanTransparentLogoWhite.png" alt="Givaudan-logo" height="40" width="40"
                 style="margin: 9px 10px 5px 70px;" />
            <img src="~/images/purple_design/TrailAir.PNG" alt="TrailAir-text" style="width: 120px; margin-top: 3px;" />
            </div>
            @*<form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
                </form>*@
            <partial name="_LoginPartial" />
            @*<partial name="_Localization" />*@
        </div>
    </nav>
</div>