﻿@using TrailAir.Web.UI.Managers

@{
    ViewData["Title"] = StaticTextCache.GetCurrentLangText("") + "Page not found"; // TODO: Write this into static text!
}


<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page not found</p>
    <p>The page you are looking for doesn't exists.</p>
    @*<h2><span class="bold">@StaticTextCache.GetCurrentLangText("experiment") Experiment</span></h2>*@
</div>

@section Scripts{

<script src="~/js/Home.js" asp-append-version="true"></script>

}