﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@section Scripts{

<script src="~/js/Home.js" asp-append-version="true"></script>

}