﻿@using TrailAir.DB.DataManagersCache;
@using TrailAir.Web.UI.Managers

@{
    ViewData["Title"] = StaticTextCache.GetCurrentLangText("experiment") + "Experiment"; // TODO: Write this into static text!
}


<div>
    <experiment-edit :on-update-success-func="getData" ref="experimentEditCmp"></experiment-edit>
    <exp-partic-result ref="expParticResCmp"></exp-partic-result>
    <experiment-duplicate ref="experimentDuplicateCmp"></experiment-duplicate>
    <experiment-preparation-information ref="experimentPreparationInformationCmp"></experiment-preparation-information>

    <div class="row wrapper border-bottom purple-2-bg page-heading">
        <div class="col-lg-12">
            <h2><span class="bold">@StaticTextCache.GetCurrentLangText("experiment") Experiment</span></h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">@StaticTextCache.GetCurrentLangText("home") Home</a>
                </li>
                <li class="breadcrumb-item active">
                    @StaticTextCache.GetCurrentLangText("experiment") Experiment
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        @*------ START: Filters -------*@
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox border-bottom">
                    <div class="ibox-title">
                        <h5>@StaticTextCache.GetCurrentLangText("filters") </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display: none;">
                        <div class="row">
                            <div class="form-group col-xl-3">
                                <select2-sync ref="slctTeamFilter" element-id="slctTeamFilter" @*:ddl-data="teamsList"*@
                                              @*:multiple="true"*@ :on-change="onTeamFilterChange"
                                              title="@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Location")
                                        Location">
                                </select2-sync>
                            </div>
                            <div class="form-group col-xl-3">
                                <select2-sync ref="slctStatusFilter" element-id="slctStatusFilter" @*:ddl-data="teamsList"*@
                                              :multiple="true" :on-change="onStatusFilterChange"
                                              title="@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Location")
                                        Experiment Status">
                                </select2-sync>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*------ END: Filters -------*@
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content um-border-top" style="overflow:auto">
                        <table class="table table-stripped EditTable table-hover no-margins toggle-arrow-tiny">
                            <tbody>
                                <tr>
                                    @*TODO: Change all of this to static text*@
                                    <th>@StaticTextCache.GetCurrentLangText("ExperimentName") Experiment Name</th>
                                    <th>@StaticTextCache.GetCurrentLangText("NumberOfSamples") Experiment Status</th>
                                    <th>@StaticTextCache.GetCurrentLangText("NumberOfSamples") Submission date</th>
                                    <th>@StaticTextCache.GetCurrentLangText("NumberOfSamples") Location</th>
                                    <th>@StaticTextCache.GetCurrentLangText("NumberOfSamples") Client </th>
                                    <th class="text-center">@StaticTextCache.GetCurrentLangText("Participants") Participants</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-right no-print">
                                        @if (AuthorizationManager.IsAbovePanelist(ViewBag.CurrentUser, false))
                                        {
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-xs" v-on:click="openEditPopup()">
                                                    @StaticTextCache.GetCurrentLangText("create")
                                                </button>
                                            </div>
                                        }
                                    </th>
                                </tr>
                                @{
                                    var clickableAction = "openEditPopup(x.id, x.isPublished, x.isFinished);$event.stopPropagation();";
                                }
                                <tr v-for="x in experimentList" :class="{ clickable: !x.isFinished }" v-on:click="@clickableAction">
                                    <td style="vertical-align: top;">
                                        <div class="row">
                                            <div class="col">{{ x.name }}</div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div class="row">
                                            <div class="col">{{ x.experimentStatusName }}</div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div class="row">
                                            <div class="col">{{ x.datePublished }}</div>
                                        </div>
                                        </t>
                                    <td style="vertical-align: top;">
                                        <div class="row">
                                            <div class="col">{{ x.teamName }}</div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div class="row">
                                            <div class="col">{{ x.consumer }}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div v-if="x.isFinished" class="row">
                                            <div class="col-lg-6 col-xl-6 text-right">
                                                Finished on
                                            </div>
                                            <div class="col-lg-6 col-xl-6 text-left">
                                                {{ x.dateFinished }}
                                            </div>
                                        </div>
                                        <div v-else class="row" @*style="display: flex; flex-direction: column;"*@ v-for="par in x.participants">
                                                @*<div class="">
                                                    <div style="margin: 0 0 20px 0">*@
                                            <div class="col-lg-6 col-xl-6  text-right">
                                                <span style=" vertical-align: -webkit-baseline-middle;">{{ par.participant.fullname }}</span>

                                            </div>
                                                @if (AuthorizationManager.IsAbovePanelist(ViewBag.CurrentUser, false))
                                                {

                                                <div class="col-lg-6 col-xl-6  text-left">
                                                    <button v-if="x.isPublished" :disabled="par.hasSubmittedResult" v-on:click="openManualResultEdit(par.participant.id, x.id); $event.stopPropagation();"
                                                        type="button" class="btn btn-success btn-xs" style="margin:4px 0 4px 0;">
                                                        {{ par.hasSubmittedResult ? "Submitted" : "Add manual result" }}
                                                    </button>
                                                    <button v-if="x.isPublished" type="button" class="btn btn-info btn-xs" style="margin:4px 0 4px 0;"
                                                        v-on:click.prevent="openExperimentWizard(x.id, par.participant.id); $event.stopPropagation();">
                                                        Add wizard
                                                    </button>
                                                </div>
                                                }
                                        </div>
                                            @* </div>
                                                </div>*@
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right no-print">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                            <ul class="dropdown-menu">
                                                    @*<li class="dropdown-item">
                                                        <button style="width: 100%" v-if="!x.isPublished" type="button" class="btn btn-success btn-xs" v-on:click="@clickableAction">
                                                        @StaticTextCache.GetCurrentLangText("Edit") Edit
                                                        </button>
                                                        </li>*@
                                                <li class="dropdown-item">
                                                    <button v-if="!(x.isPublished || x.isFinished)" style="width: 100%" type="button" class="btn btn-danger btn-xs" v-on:click="deleteExperiment(x.id); $event.stopPropagation();">
                                                            @StaticTextCache.GetCurrentLangText("Delete") Delete
                                                    </button>
                                                </li>
                                                <li class="dropdown-item">
                                                    <button style="width: 100%" type="button" class="btn btn-danger btn-xs" v-on:click="showDuplicateModal(x.id); $event.stopPropagation();">
                                                            @StaticTextCache.GetCurrentLangText("Duplicate") Duplicate
                                                    </button>
                                                </li>
                                                <li class="dropdown-item">
                                                    <button :disabled="isDownloadDisabled(x)" style="width: 100%;" type="button"
                                                            class="btn btn-danger btn-xs" v-on:click="downloadWizardResult(x.id); $event.stopPropagation();">
                                                            @StaticTextCache.GetCurrentLangText("DownloadResult") Download Result
                                                    </button>
                                                </li>
                                                <li class="dropdown-item">
                                                    <button :disabled="!x.isPublished" style="width: 100%" type="button" class="btn btn-danger btn-xs" v-on:click="showPreparationInformationModal(x.id); $event.stopPropagation();">
                                                            @StaticTextCache.GetCurrentLangText("PreparationInformation") Preparation Information
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

<script type="text/javascript">
    var experimentWizardPage = "@Url.Action("ExperimentWizardCalibrate", "Experiment")"
</script>

    @Html.Partial("../Components/Select2/Select2-And-Edit-Popup.cshtml")
    @Html.Partial("../Components/Select2/Select2-Sync.cshtml")
    @Html.Partial("../Components/Experiment/ExperimentEditCmp.cshtml")
    @Html.Partial("../Components/ControlSample/ControlSampleTypeEditCmp.cshtml")
    @Html.Partial("../Components/TestSample/TestSampleCmp.cshtml")
    @Html.Partial("../Components/ExpParticipantResult/ExpParticipantResultCmp.cshtml")
    @Html.Partial("../Components/Experiment/ExperimentDuplicateCmp.cshtml")
    @Html.Partial("../Components/Experiment/ExperimentPreparationInformationCmp.cshtml")

<script src="~/js/Helpers/PagerHelper.js" asp-append-version="true"></script>
<script src="~/js/ExperimentList.js" asp-append-version="true"></script>
<script src="~/js/Helpers/PrintHTMLElementHelper_S2.js" asp-append-version="true"></script>

}
