﻿<template id="UserEditTemp">
    <div>
        <team-edit :on-update-success-func="onTeamSaved" ref="teamEditCmp"></team-edit>

        <div class="modal inmodal fade" id="UserEditCmp" role="dialog" aria-hidden="true" style="">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only" v-on:click="closeDetModal()">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close") </span>
                        </button>
                        <h4 class="modal-title">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("user"): {{currentUser.firstName}} {{currentUser.lastName}}</h4>
                    </div>

                    <div class="modal-body animated fadeInUp">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <label for="name" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("userName") / @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("email"):</label>
                                    <div class="col-lg-12">
                                        <input type="email" id="username" ng-keyup="IsUsernameAvailable(userCreateHelperModal.currentBo.username)" class="form-control" v-model="currentUser.username" required>
                                        @*<span class="text-danger" ng-show="IsUsernameTaken">Benutzername ist bereits vergeben</span>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="name" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("password"):</label>
                                    <div class="col-lg-12">
                                        <input type="password" name="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" oninvalid="this.setCustomValidity('Das Passwort muss Gross- und Kleinbuchstaben, Zahlen und Sonderzeichen (mindestens 8) enthalten.')" class="form-control" v-model="currentUser.password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="name" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("confirmPassword"):</label>
                                    <div class="col-lg-12">
                                        <input type="password" name="confirmPassword" compare-to="userCreateHelperModal.currentBo.password" class="form-control" v-model="currentUser.confirmPassword" required>
                            @*            <span class="text-danger" ng-show="frmCreateUser.confirmPassword.$error.compareTo">
                                            Passwörter stimmen nicht überein <br />
                                            Das Passwort muss Gross- und Kleinbuchstaben, Zahlen und Sonderzeichen (mindestens 8) enthalten.
                                        </span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-8">
                                <label class="col-lg-12 col-form-label">&nbsp;</label>
                                <div class="alert alert-info">
                                    <p>
                                        <span style="font-weight:bold">Passwort-Richtlinie:</span>
                                    </p>
                                    <ul>
                                        <li> Mindestens 8 Zeichen </li>
                                        <li> Mindestens ein Grossbuchstaben (A-Z) </li>
                                        <li> Mindestens ein Kleinbuchstaben (a-z) </li>
                                        <li> Mindestens eine Ziffer (0-9) </li>
                                        <li> Mindestens ein Sonderzeichen von !@@#$%&*() </li>
                                    </ul>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <label for="phoneNumber" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("telephoneNumber")</label>
                                    <div class="col-lg-12">
                                        <input id="phoneUserDetailInput" type="tel" class="form-control intl-tel-input" v-model="currentUser.phoneNumber" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <label for="firstName" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("firstName") </label>
                                    <div class="col-lg-12">
                                        <input required type="text" class="form-control" v-model="currentUser.firstName">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <label for="lastName" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("lastName")</label>
                                    <div class="col-lg-12">
                                        <input required type="text" class="form-control" v-model="currentUser.lastName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xl-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <select2-sync ref="slctPermission" element-id="slctPermission" @*:ddl-data="permissionList"*@ :multiple="false"
                                                      title="@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("permission")">
                                        </select2-sync>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <select2-and-edit-popup v-on:open-modal="openTeamEditModal" ref="slctTeam" element-id="slctTeam" @*:ddl-data="teamList"*@
                                                                title="@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("team")"
                                                                label-element-id="TeamLabel" api-controller="/ApiTeam/" modal-id="TeamEditCmp">
                                        </select2-and-edit-popup>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <label for="lastName" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("email") </label>
                                    <div class="col-lg-12">
                                        <input required type="text" class="form-control" v-model="currentUser.email">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin: auto;">
                        <button type="button" class="btn btn-white" v-on:click="closeDetModal()">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close") </button>
                        <button type="button" class="btn btn-primary" v-on:click="saveUser()">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("saveChanges") </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/UserEdit/UserEditCmp.js" asp-append-version="true"></script>
<script src="~/js/Models/User.js" asp-append-version="true"></script>