
.pdf-viewer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 1000000;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
    color: #fff;
    padding: 0.5em;
}

    #toolbar button,
    #page-mode input {
        color: currentColor;
        background-color: transparent;
        font: inherit;
        border: 1px solid currentColor;
        border-radius: 3px;
        padding: 0.25em 0.5em;
    }

        #toolbar button:hover,
        #toolbar button:focus,
        #page-mode input:hover,
        #page-mode input:focus {
            color: lightGreen;
        }

#page-mode {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
}

#viewport-container {
    flex: 1;
    background: #eee;
    overflow: auto;
}

#viewport {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    #viewport > div {
        text-align: center;
        max-width: 100%;
    }

    #viewport canvas {
        width: 100%;
        box-shadow: 0 2px 5px gray;
    }
