﻿
.disabled-click{
    pointer-events: none !important;
}

.disabled-plus {
    color: gainsboro !important;
}

.red-back{
    background-color: red !important;
}

.wizard-vert-table-size {
    max-height: 65vh;
    overflow-y: scroll;
}

.vertical-purple-dots-left {
    background-image: url("../images/purple-dot-4px.png");
    background-repeat: repeat-y;
    background-position: left top;
}

.wizard-desc-column-tbl tbody tr:hover {
    background: initial;
}

.wizard-table-samp-max-width {
    width: 10%;
}

.wizard-table-int-max-width {
    width: 9%;
}

.wizard-table-desc-max-width {
    width: 8%;
}

.wizard-table-sens-max-width {
    width: 65%;
}

.wizard-table-mod-max-width {
    width: 8%;
}

.resume-table td {
    border-top: unset !important;
}

.no-border-table-headers th {
    border: unset !important;
    background-color: unset !important;
}

.grey-back {
    background: #a1a1a1;
}

.cursor-pointer {
    cursor: pointer;
}

.purple-title {
    font-weight: 600;
    color: #2E247A;
}

.form-select-override {
    display: block;
    width: 150px;
    padding: .375rem 2.25rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dropdown-toggle::after {
    display: none !important;
}


option:disabled {
    color: #bcbcbc;
}

.filterItem {
    display: none;
}

.showItem {
    display: table-row;
}

.modal-dialog {
    /* max-width: 10000000px !important;
    width: 98% !important;*/
}

/*.modal-open {
    overflow: scroll !important;*/ /* Scrollbar appears / disappears on default overflow: hidden when modal is opened/closed*/
/*}*/

html.modal-open {
    /* All of this stops the page from scrolling in the background, especially important on mobile devices. */
    -ms-overflow-style: scrollbar !important;
    overflow: hidden !important;
    height: 100% !important;
}

body.modal-open {
    /* This is the crucial rule to get rid of the page shift when opening a modal */
    overflow: hidden !important;
    /* Robert: Overflow set to hidden on  03.06.22. because otherwise the modals and scrolls doesn't work properly */
    /* You may want to explore toggling this, depending on your circumstances (page length and/or presence of page scroll bars) */
    height: 100% !important;
}

.clickable {
    cursor: pointer !important;
}


a.bold, span.bold, li.bold {
    font-weight: 700 !important;
}

.breadcrumb > .active {
    font-weight: 700 !important;
}

.locationImage {
    /*display: block;*/
    /* width: 100%;
    height: 100%;*/
    /* margin: auto;*/
    /* max-height: 800px;*/
    /*max-width: 800px;*/
    /* max-height: 400px;
    width: auto;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.imageBox {
    display: flex;
    width: 424px;
    min-width: 424px;
    max-height: 266px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgb(22 34 63 / 19%);
    position: relative;
    cursor: pointer;
    align-items: center;
}

td {
    /* font-weight: 500;
    font-size: 110%;*/
}

th {
    background-color: #f9f9f9 !important;
    border: none !important;
    border-bottom: 2px solid #0a498c !important;
}

.th {
    background-color: #f9f9f9 !important;
    border: none !important;
    border-bottom: 2px solid #0a498c !important;
    vertical-align: middle;
}

.td-table-row {
    border-top: 1px solid #e7eaec;
    line-height: 1;
    padding: 8px;
    vertical-align: middle;
}

.badge-umanova {
    background-color: #6a95b1 !important;
    color: #FFF !important;
    font-size: 0.9em !important;
}

.badge-umanova-white {
    color: #FFF !important;
}

.badge-um {
    font-size: 0.9em !important;
    color: #FFF !important;
}

.badge-umanova-task {
    background-color: #6a95b1 !important;
    color: #FFF !important;
    padding: 4px;
    font-size: 0.9em !important;
}

    .badge-umanova-task:hover, .badge-umanova-task:focus, .badge-umanova-task:active {
        background-color: #83a8eb !important;
    }

.ibox-title {
    /*background-color: #f9f9f9 !important;  C8C8FF c1d8ff E9F2FC*/
    background-color: white !important;
    padding: 15px 15px 8px 15px !important;
    border-radius: 12px !important;
}

.ibox-content {
    border-radius: 12px !important;
}

.ibox-umanova {
    box-shadow: 1px 2px 3px #DDD !important;
    border-radius: 15px !important;
}

.ibox-content-main {
    position: relative !important;
    overflow-y: scroll !important;
    height: 70vh !important;
}

.um-task-phase {
    font-size: 1em;
    padding: 5px;
}

.umanova-border-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom: none !important;
}

.umanova-border-bottom {
    border-top: none !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.um-bgc-lblue {
    background-color: #E9F2FC !important;
}

.um-bgc-white {
    background-color: #FFF !important;
}

img {
    max-height: 200px;
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.row.form-control {
    background-color: #fff !important;
}

.form-control, .single-line {
    border-radius: 10px !important;
    border-color: #d4c8d9 !important;
    background-color: #faf9ff !important;
}


/*.right-side-btn {
    position: absolute !important;
    right: -45px !important;
}*/
/*.sidebar-collapse {
    background-color: #0a498c !important;
    border-color: #2F4050 !important;
}
.navbar-default {
    background-color: #0a498c !important;
}
.nav {
    background-color: #0a498c !important;
}*/



/* -----------audio player  start -------------*/
audio {
    width: 100% !important;
}
/* -----------audio player  end -------------*/


/* ------------ custom button  start -----------*/

.btn-primary {
    background-color: #FFF !important;
    color: #2E247A !important;
    border-color: #0a498c !important;
    border-radius: 4px !important;
}
    /* inspinia has a text color 3e5476*/
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        background-color: #8d87b6 !important;
        color: #FFF !important;
        border-color: #83a8eb !important;
        border-radius: 4px !important;
    }

.btn-um-dropdown {
    background-color: transparent !important;
    color: #0a498c !important;
    font-size: 20px !important;
    outline: none !important;
}

    .btn-um-dropdown:hover, .btn-um-dropdown:focus, .btn-um-dropdown:active, .btn-um-dropdown.active, .open .dropdown-toggle.btn-um-dropdown {
        background-color: transparent !important;
        color: #0a498c !important;
        font-size: 20px !important;
        outline: none !important;
    }


/*.btn-danger {
    background-color: #00b4d8 !important;
    color: #FFF !important;
    border-color: #00b4d8 !important;
    border-radius: 4px !important;
}

    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
        background-color: #83a8eb !important;
        color: #FFF !important;
        border-color: #83a8eb !important;
        border-radius: 4px !important;
         
    }
*/

/*.btn-success {
    background-color: #0077b6 !important;
    color: #FFF !important;
    border-color: #0077b6 !important;
    border-radius: 4px !important;
}

    .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
        background-color: #83a8eb !important;
        color: #FFF !important;
        border-color: #83a8eb !important;
        border-radius: 4px !important;
         
    }
*/
/* ------------ custom button  end -----------*/




/*---------  Old Swisscon Image View Modal css start ----------------*/
.moreDetailsContainer {
    display: flex;
    flex-flow: row;
    margin: 20px 20px 20px 60px;
    font-size: 14px;
}

.tagsAndBreadcrumb {
    flex: 1 1 auto;
}

.mediaContainerDesktop {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    cursor: default;
    border-top: 1px solid #dbdfe8;
    padding: 20px 0 0 0;
    user-select: none;
    justify-content: center;
    align-items: center;
}
/*---------  Old Swisscon Image View Modal css end ----------------*/

/* ------------ Modal Content (image) start---------------*/
.modal-picture-content {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 95%;
    /*height: 70%;*/
    max-height: 95%;
}

/* Caption of Modal Image */
#caption-picture {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-picture-content, #caption-picture {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close-picture {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close-picture:hover,
    .close-picture:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-picture-content {
        width: 100%;
    }
}
/* ------------ Modal Content (image) end---------------*/


/* -----------ScrollBar start ----------------------------*/




.scrollbar-navy::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1px;
    overflow: auto !important;
}

.scrollbar-navy::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    overflow: auto !important;
}

.scrollbar-navy::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #9cb9d9;
    overflow: auto !important;
}

.scrollbar-navy {
    scrollbar-color: #9cb9d9 #F5F5F5;
    overflow: auto !important;
}


.bordered-navy::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #00bcd4;
}

.bordered-navy::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}
/* -----------Scrollbar end ------------------------------*/

/* -----------Card Old Swisscon css start ------------------------------*/

.popover {
    position: relative;
    box-shadow: 0px -1px 12px rgb(0 0 0 / 4%), 0px 4px 12px rgb(0 0 0 / 4%), 0px 16px 32px rgb(53 62 83 / 14%);
    border-radius: 12px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.item {
    width: auto;
    min-height: 44px;
    cursor: pointer;
    display: flex;
    align-self: center;
    padding: 14px 30px;
    box-sizing: border-box;
}

    .item:hover,
    .item:focus {
        background: #DDE5FB;
    }

.gridView {
    /* height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;*/
}

.cardWrapper {
    min-width: 350px;
    padding-top: 15px
    /* width: calc(33% - 24px);
    min-width: calc(33% - 24px);
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    white-space: nowrap;
    margin-right: 24px;*/
    /*height: 70vh;*/
}

.cardContainer {
    width: 100%;
    height: 100%;
    /*background: #DDE5FB;*/
    background: #E9F2FC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.outlineButton {
    cursor: pointer;
    line-height: 16px;
    /*font-family: "Work Sans", Arial, Helvetica, sans-serif;*/
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    padding: 6px;
    background: transparent;
    height: 30px;
    display: flex;
    align-items: center;
}

.outlineMain {
    color: #344c71;
    border: solid 1px #344c71;
}

.header {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 14px 12px;
    flex-shrink: 0;
    background: #E9F2FC;
    border-radius: 20px 20px 0px 0px;
}

.headerBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    color: #7486B1;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.title {
    color: #062061;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.mediaTypeIcon {
    color: #8396b4;
    font-size: 14px;
    flex: 0 0 24px;
    margin-top: 1px;
    height: 25px;
    overflow: hidden;
}

.fileCard {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 20px;
    color: #273f7c;
    box-shadow: 1px 1px 6px rgb(6 32 97 / 20%);
    position: relative;
    overflow: hidden;
}

.fileCardHeader {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdfe8;
    position: relative;
    padding: 10px 8px 10px 14px;
    display: flex;
    flex-flow: row;
}

.fileCardTitle {
    flex: 1 1 auto;
    margin: 0 60px 0 0;
    overflow: hidden;
    font-size: 14px;
    overflow-wrap: break-word;
    white-space: normal;
    font-weight: 500;
}

.fileCardKebab {
    flex: 0 0 24px;
    height: 24px;
    /*cursor: pointer;*/
}

    .fileCardKebab span {
        font-size: 26px;
        line-height: 16px;
    }

.fileCardContents {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    cursor: pointer;
    position: relative;
    font-size: 10px;
}

.fileCardLeftCol {
    padding: 15px;
    overflow: hidden;
}

.fileCardBreadcrumb {
    width: 100%;
    margin: 4px 0;
    font-weight: 500;
    white-space: normal;
}

.fileCardTags {
    flex-flow: row;
    flex-wrap: wrap;
    display: flex;
    margin: 8px 0;
}

.fileCardCompany {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 4px 0;
}

.fileCardUsername, .fileCardDescription {
    color: #7486b1;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileCardRightCol {
    flex: 0 0 37%;
    display: block;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.cardWrapper {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    padding: 12px 6px 12px 12px;
}*/
/* -----------Card Old Swisscon css end ------------------------------*/

/* -----------Modal Old Swisscon css start ------------------------------*/
.window2 {
    background-color: white;
    position: relative;
    padding: 34px 16px 16px 16px;
    box-shadow: 0px 12px 24px rgb(22 34 63 / 35%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.x2 {
    position: absolute;
    top: 0;
    right: 0;
    color: #062061;
    cursor: pointer;
    padding: 12px;
    z-index: 2;
}

.content2 {
    flex-grow: 1;
    position: relative;
}

.modal-content {
    box-shadow: none !important;
    border-radius: 12px !important;
    border: 1px solid #B5B5B5 !important;
}

.modal-body {
    background-color: #F2F2F4 !important;
}

.white-back-with-radius {
    background-color: white !important;
    border-radius: 15px !important;
    margin-bottom: 20px;
}

.buttons2 {
    position: relative;
    display: flex;
    flex-shrink: 0;
}

.dropzone {
    border: 1.5px dashed rgb(116, 134, 177) !important;
    border-radius: 10px !important;
    align-items: center !important;
    margin-top: 16px !important;
    cursor: pointer !important;
}


/*used in dropzone.js dictDefaultMessage: "<div class='dropzoneInstructions'>Drop files here to upload</div>",*/
.dropzoneInstructions {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #8593B8;
    padding: 12px;
}

.textField {
    position: relative;
    width: 100%;
    background-color: #ECF2FF;
    mix-blend-mode: normal;
    border: 1.5px solid #7486B1;
    border-radius: 8px;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 0 0;
    padding: 0;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.labelContainer {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 0;
    font-size: 14px;
    transition: 0.15s ease-in-out;
    transform-origin: top left;
    transform: translate(0px, 12px) scale(1.1);
    color: #062061;
}
/* -----------Modal Old Swisscon css end ------------------------------*/

/* ---------- Recording button design start ----------------------------*/
.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 35px;
    width: 88px;
    height: 88px;
    cursor: pointer;
    border-radius: 50%;
    margin: 15px 0px;
}

.recordingButton {
    background: #7CA96C;
    animation: wave 1.5s linear infinite;
}

.stoppedButton {
    background-color: #AE2134;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0px rgb(124 169 108 / 70%);
    }

    50% {
        box-shadow: 0 0 0 10px rgb(124 169 108 / 50%);
    }

    100% {
        box-shadow: 0 0 0 15px rgb(124 169 108 / 10%);
    }
}

}

/* ---------- Recording button design end ----------------------------*/

/* ---------------hierarchy start ---------------------------*/
.locHierarchy {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.lh-nested {
    display: none !important;
}

/* Style the caret/arrow */
.lh-caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
    /* Create the caret/arrow with a unicode, and style it */
    .lh-caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.lh-caret-down::before {
    transform: rotate(90deg);
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.lh-active {
    display: block !important;
}

/* ---------------hierarchy end ---------------------------*/
/*Modal padding on open fix*/
.modal-open {
    overflow: auto !important;
}

/* ---------------task timeline start ---------------------------*/

.vis-panel.vis-left {
    position: absolute !important;
}

#visualization {
    box-sizing: border-box;
    width: 100%;
}

.vis-timeline {
    border: none !important;
    min-height: 10vh !important;
}

.vis-item {
    cursor: pointer !important;
    font-weight: 600 !important;
    color: white !important;
    text-align: center !important;
    line-height: 1 !important;
    border-radius: .25em !important;
    padding: 1px !important;
    z-index: 2 !important;
}

.vis-readonly {
    background-color: #6a95b1 !important;
}

    .vis-readonly:hover, .vis-readonly:focus, .vis-readonly:active {
        background-color: #83a8eb !important;
    }

.vis-selected.vis-readonly {
    background-color: #83a8eb !important;
    box-shadow: 1px 1px 5px grey !important;
}

.vis-dot {
    display: none !important;
}

/*not assigned same as badge*/
.um-task-phase0 {
    background-color: #D1DADE !important;
    color: black !important;
}
/*assigned same as badge*/
.um-task-phase1 {
    background-color: #23c6c8 !important;
}

/*inProgress same as badge */
.um-task-phase2 {
    background-color: #1ab394 !important;
}

/*inReview same as badge*/
.um-task-phase3 {
    background-color: #343a40 !important;
}

/*paused same as badge*/
.um-task-phase4 {
    background-color: #f8ac59 !important;
}

/*rejected same as badge-danger*/
.um-task-phase5 {
    background-color: #dc3545 !important;
}
/*completed same as badge-success*/
.um-task-phase6 {
    background-color: #1c84c6 !important;
}

/*.vis.timeline .red {
    color: white;
    background-color: red;
    border-color: darkred;
}*/
/*.vis-item {*/
/*    border-color: #0077b6 !important;
    background-color: #062061 !important;
    border-radius: 4px !important;
    color: #FFF !important;
    cursor: pointer;*/
/*border-radius: 8px !important;
    font-size: 16px !important;
    background-color: #DBDFE8 !important;
    margin-bottom: 8px !important;
}*/
/*.vis-item, vis-item-overflow {
    border-radius: 8px !important;
    border: 1px solid #E1E5ED !important;
    border-left: 8px solid #062061 !important;
    background-color: #FFF !important;
    overflow: hidden !important;
    background: rgba(233, 242, 252, 0.5) !important;
    box-shadow: 1px 2px 3px #ddd !important;
    cursor: pointer !important;
}
.vis-time-asix  {
    background-color: #062061 !important;
}
*/
/* div class="task" */
/*.vis-item-content div div {
  padding: 1px !important;
}*/

/* div class="taskTitle" */
/*.vis-item-content div div div {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 2px !important;
    word-break: break-all !important;
}

.vis-item-content div div div span {
    background: rgba(191, 205, 239, 0.75);
    flex-shrink: 0;
    padding: 5px 8px;
    font-size: 11px !important;
    border-radius: 4px;
    margin-right: 12px;
}

.vis-item-content div div div div span {
    background: inherit !important;
    flex-shrink: 0;
    padding: 0 !important;
    font-size: inherit !important;
    border-radius: 4px;
    margin-right: 0 !important;
}*/


/* ---------------task timeline end ---------------------------*/


/* ---------------treetable  start ---------------------------*/
.uma-tree-item {
    border-radius: 5px !important;
    border-color: #0a498c !important;
    background-color: #edf6ff !important;
    border: 1px solid #e5e6e7;
    padding: 3px 5px;
    height: 20px;
    outline: none;
    margin: 0px 0px 0px 10px;
    width: 38px;
    text-align: right;
}



table.treetable tr.expanded span.indenter a {
    background-image: url("../../images/arrows/arrow_down_blue.png") !important;
}

table.treetable tr.collapsed span.indenter a {
    background-image: url("../../images/arrows/arrow_right_blue.png") !important;
}

/* ---------------treetable  end ---------------------------*/

/* ---------------wizard jquery steps  start ---------------------------*/
/*div.steps.clearfix {
    display: none !important;
}
.wizard .content {
    background-color: inherit !important;
}

.wizard > .content > .body {
    position: inherit !important;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background-color: #0a498c !important;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4px !important;
    border-color: #83a8eb !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


    .wizard > .actions a:hover, .wizard > .actions a:active {
        background-color: #83a8eb !important;
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 4px !important;
        border-color: #83a8eb !important;

    }

.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa;
}
*/
/* ---------------wizard jquery steps  end ---------------------------*/
#page-wrapper {
    width: 100% !important;
}


.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.removable-umanova {
    background-color: #0a498c !important;
    color: white !important;
    border: 1px solid #0a498c !important;
    border-radius: 4px !important;
    cursor: default !important;
    float: left !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
}

.removable-umanova-remove {
    color: white !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: bold !important;
    margin-right: 2px !important;
}

.removable-umanova-title {
    margin-bottom: 0px !important;
}

.label-umanova {
    background-color: #0a498c !important;
    color: white !important;
    border-radius: 0.3em !important;
    margin-right: 0.15em !important;
}

.label-umanova-remove {
    background-color: #0a498c !important;
    color: white !important;
}

    .label-umanova-remove:hover {
        color: black !important;
    }

.action-bar {
    margin-top: 10px;
    height: 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.um-info-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em !important;
    padding: 5px;
}

.um-border-top {
    border-radius: 15px !important;
}

.um-border-bottom {
    border-radius: 0 0 15px 15px !important;
}
/* --------------- ACTIVITY STREAM START ---------------------------*/
.activity-stream-notification-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.activity-stream-notification-tile {
    margin: 6px 0;
    font-weight: 500;
    color: #7486B1;
    background: #e1e5ed;
    border-radius: 8px;
    box-sizing: border-box;
}

.activity-stream-notification-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 8px;
    font-size: 14px;
}

.activity-stream-notification-container {
    background: #fff;
    border: 1px solid #e1e5ed;
    border-radius: 8px;
}

.activity-stream-notification-container-row {
    display: flex;
    position: relative;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #e1e5ed;
}

.activity-stream-notification-symbol {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

    .activity-stream-notification-symbol img {
        position: relative;
        top: 7px;
        max-width: 28px;
        max-height: 28px;
    }

.activity-stream-notification-date {
    font-size: 12px;
}
/* --------------- ACTIVITY STREAM END ---------------------------*/

/*------------------------Summer Note Editor Styles--------------- */
.note-editable, .note-toolbar {
    background-color: #edf6ff !important;
}

.note-editor.note-frame {
    border-color: #0a498c !important;
    border: 1px solid !important;
}

.note-status-output {
    display: none !important;
}

.note-editing-area {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.note-toolbar-wrapper {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.note-btn-group.btn-group button {
    background: #edf6ff !important;
    background-color: #edf6ff !important;
}

/*------------------------Summer Note Editor Styles End--------------- */
/* --------------- NAV TABS START ---------------------------*/
.nav-link, .nav-link active {
    border: none !important;
    background-color: inherit !important;
}
/* --------------- NAV TABS END ---------------------------*/

.popover.clockpicker-popover {
    position: absolute !important;
}



.iti__flag {
    background-image: url("../images/flags/flags_.png") !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../images/flags/flags@2x_.png") !important;
    }
}

/* --------------- CUSTOM CSS ---------------------------*/

.um-text-black {
    color: black !important;
}

.um-opacity-bc {
    background-color: rgba(255,255,255,0.4) !important;
    color: #a1a1a1 !important;
}

.um-opacity {
    opacity: 0.4 !important;
}

.um-a-hover :hover {
    background-color: #EEEEEE !important;
}
/* --------------- CUSTOM Summer Note Editor CSS ---------------------------*/
.umanova-editor-noborder + .note-editor.note-frame.card {
    border: none !important;
}

.umanova-white-background {
    background-color: #ffffff !important;
}

.um-row-overflow {
    overflow-wrap: break-word !important;
}


.um-archived {
    color: #a1a1a1 !important;
}

.um-nodata {
    color: #a1a1a1 !important;
}

/* ------------additional css code for nav menu -------------------*/


.skin-con .nav > li.grouped {
    border: 2px solid #e9f2fc;
    background-color: #0a498c;
    padding: 5px;
    padding-bottom: 2px !important;
    border-radius: 15px;
}

    .skin-con .nav > li.grouped > a {
        color: #fff !important;
    }

li.grouped > ul.nav.nav-second-level.collapse.in {
    border-radius: 15px !important;
    margin-bottom: 2px !important;
}

li.grouped > ul.nav.nav-second-level.collapsing {
    border-radius: 15px !important;
    margin-bottom: 2px !important;
}

.skin-con .nav > li.active:first-of-type {
    border-radius: 15px 15px 0 0 !important;
    color: #a1a1a1 !important;
}

    .skin-con .nav > li.active:first-of-type:hover {
        border-radius: 15px 15px 0 0 !important;
        color: #a1a1a1 !important;
    }

.skin-con .nav > li.active:last-of-type {
    border-radius: 0 0 15px 15px !important;
    color: #a1a1a1 !important;
}

.skin-con .nav > li.groupedL2.active:last-of-type {
    border-radius: 15px 15px 15px 15px !important;
    color: #a1a1a1 !important;
}

.skin-con .nav > li.groupedL3.active:last-of-type {
    border-radius: 15px 15px 15px 15px !important;
    color: #a1a1a1 !important;
}


.skin-con .navbar-default .nav.nav-second-level > li > a:hover, .skin-con .navbar-default .nav.nav-second-level > li > a:focus {
    color: #384D6C;
    border-radius: 15px 15px 0 0 !important;
    font-weight: 700;
}

.skin-con .nav > li.groupedL2 {
    border: 2px solid #e7eaec !important;
    background-color: #0075B0 !important;
    padding-bottom: 2px !important;
    border-radius: 15px !important;
    padding: 3px !important;
}

    .skin-con .nav > li.groupedL2 > a {
        color: #fff !important;
    }


.groupedL2 ul.nav.nav-second-level.collapse.in {
    /*background-color: black !important;*/
    border-radius: 15px !important;
}

.groupedL2 ul.nav.nav-second-level.collapsing {
    /*background-color: black !important;*/
    border-radius: 15px !important;
}

/*.groupedL2 ul.nav.nav-second-level > li.active:last-of-type {
    border-radius: 0 0 15px 15px !important;
}*/
.skin-con .navbar-default .nav.nav-third-level > li > a:hover, .skin-con .navbar-default .nav.nav-third-level > li > a:focus {
    border-radius: 15px 15px 0 0 !important;
    font-weight: 700;
}

.skin-con .nav > li.groupedL3 {
    border: 2px solid #f3f4f5;
    background-color: #7A5FB0;
    padding-bottom: 2px !important;
    border-radius: 15px !important;
    padding: 2px !important;
}

    .skin-con .nav > li.groupedL3 > a {
        color: #fff !important;
    }

    .skin-con .nav > li.groupedL3 > ul {
        background-color: #fff !important;
        border-radius: 15px !important;
    }

        .skin-con .nav > li.groupedL3 > ul > li {
            background-color: #fff !important;
        }

            .skin-con .nav > li.groupedL3 > ul > li:first-of-type {
                border-radius: 15px 15px 0 0 !important;
            }

            .skin-con .nav > li.groupedL3 > ul > li:last-of-type {
                border-radius: 0 0 15px 15px !important;
            }

/* ----------------------------Umanova custom card with border and radius ------------------------------*/
.umCard {
    background: white !important;
    border-radius: 20px !important;
    box-shadow: 1px 1px 6px rgb(6 32 97 / 20%) !important;
    margin: 5px !important;
}

.umCard-image {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
    cursor: pointer !important;
}


/* ----------------------------PAGINATION ------------------------------*/


.flex-childs-right { /*Pagination class from EQ*/
    display: flex;
    justify-content: end;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    border-color: #DDDDDD;
    color: white;
    background-color: #0a498c !important;
    cursor: default;
    z-index: 2;
}

/*----------------------------ng-cloak directive -----------------*/
/*ng-if causes elements to show for a second then disappear. How to prevent that behaviour:  add ng-cloak directive to the element that has ng-if*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* --------------------------- select2 single ---------------------------------*/
/*.select2-container--default .select2-selection--multiple {*/
/* background-color: white; */
/*background-color: #edf6ff !important;*/
/* border: 1px solid #aaa; */
/*border: 1px solid #0a498c;*/
/* border-radius: 4px; */
/*border-radius: 10px !important;
    cursor: text;
}*/

.select2-container--default .select2-selection--single {
    background-color: #edf6ff !important;
    border: 1px solid #0a498c !important;
    border-radius: 10px !important;
    cursor: text !important;
    height: 2.05rem !important;
    font-size: 0.9rem !important;
    padding: 6px 10px !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: inherit !important;
        line-height: inherit !important;
    }

@keyframes umaTimelineAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*  ------------------------------------------------  */
/* 
    This is the color of the intl-tel-input (Telephone input picker) placeholder text color, 
    because the default color looks like regular input, not like placeholder, so I decided to 
    lower the opacity a little bit.
*/
.intl-tel-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #c2c2c2;
}

.intl-tel-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c2c2c2;
    opacity: 1;
}

.intl-tel-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c2c2c2;
    opacity: 1;
}

.intl-tel-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c2c2c2;
}

/*  ------------------------------------------------  */


/*Hamburger*/

.hamb-btn {
    width: 37px;
    cursor: pointer;
    margin: 18px 0 0 25px;
}

    .hamb-btn:hover .hamb-line, .hamb-btn.hover .hamb-line {
        background: #7068a7 !important;
    }

.hamb-line {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    height: 2px;
    background: #fff;
    transition: all .5s;
    position: relative;
}

span + span {
    margin-top: 7px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

/*  ------------------------------------------------  */
