﻿<template id="TestSampleTemp">
    <div>
        <div class="modal inmodal fade" id="TestSampleModal" role="dialog" aria-hidden="true" style="background:rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close">
                            <span aria-hidden="true" v-on:click="closeDetModal()">&times;</span>
                            <span class="sr-only">
                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                            </span>
                        </button>
                        <h4 class="modal-title">Test Sample: {{ isInternal ? " internal sample" : "market product" }}</h4>
                    </div>

                    <div class="modal-body animated fadeInUp">
                        <div class="row">
                            @*<div class="col-lg-12">
                                <h3 class="">Please enter data for the {{ isInternal ? "internal" : "market" }} test sample</h3>
                                </div>*@
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row">
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Manufactured date (oil is made)
                                        </label>
                                        <div class="input-group date col-lg-12" id="TSManufacturedDateDatePicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" v-model="experimentTestSample.testSample.manufacturedDate" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Base
                                        </label>

                                        <div class="col-lg-12">
                                            <input id="baseInput" type="text" class="form-control" v-model="experimentTestSample.testSample.base" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-2">
                                        <label class="col-lg-12 col-form-label">
                                            Is Benchmark
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="checkbox" class="form-control" style="max-height: 34px; max-width: 34px;"
                                                   v-model="experimentTestSample.testSample.isBenchmark" />
                                        </div>
                                    </div>
                                </div>
                                <div v-show="isInternal" class="row">
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Fantasy Name
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="fantasyNameInput" type="text" class="form-control" v-model="experimentTestSample.testSample.fantasyName" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Internal Name
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="internalNameInput" type="text" class="form-control" v-model="experimentTestSample.testSample.internalName" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Group Code
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="groupNumberInput" type="text" class="form-control" v-model="experimentTestSample.testSample.groupNumber" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Trial Number
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="trialNumberInput" type="text" class="form-control" v-model="experimentTestSample.testSample.trialNumber" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Technology
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="technologyInput" type="text" class="form-control" v-model="experimentTestSample.testSample.technology" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Application Date (oil is put into base)
                                        </label>
                                        <div class="input-group date col-lg-12" id="ApplicationDateDatePicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" v-model="experimentTestSample.testSample.applicationDate" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <label class="col-lg-12 col-form-label">
                                            Concentration
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" v-model="experimentTestSample.testSample.concentration" />
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-8">
                                        <label class="col-lg-12 col-form-label">
                                            Comment
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" v-model="experimentTestSample.testSample.comment" />
                                        </div>
                                    </div>
                                </div>

                                <div v-show="!isInternal" class="row">
                                    <div class="form-group col-xl-12">
                                        <div class="row">
                                            <div class="form-group col-xl-4">
                                                <label class="col-lg-12 col-form-label">
                                                    Product Name
                                                </label>
                                                <div class="col-lg-12">
                                                    <input id="productNameInput" type="text" class="form-control" v-model="experimentTestSample.testSample.productName" />
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-4">
                                                <label class="col-lg-12 col-form-label">
                                                    LOT Code
                                                </label>
                                                <div class="col-lg-12">
                                                    <input id="lotCodeInput" type="text" class="form-control" v-model="experimentTestSample.testSample.lotCode" />
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-4">
                                                <label class="col-lg-12 col-form-label">
                                                    Comment
                                                </label>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" v-model="experimentTestSample.testSample.comment" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="margin: auto; border-top: unset;">
                        <button type="button" class="btn btn-secondary" v-on:click="closeDetModal()">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" v-on:click="saveTestSample()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="">Test Samples@*:&nbsp; {{ testSample.testSample.isInternal ?" internal sample" :" market product" }}*@</h3>
            </div>
            <div class="col-lg-12 white-back-with-radius">
                <div style="margin: 12px 0 25px 0">
                    <button type="button" class="btn btn-primary" :disabled="experiment.isPublished" v-on:click="openTestSamplePopup(true, null)">
                        Add Internal
                    </button>
                    <button type="button" class="btn btn-primary" :disabled="experiment.isPublished" v-on:click="openTestSamplePopup(false, null)">
                        Add Market
                    </button>
                </div>

                <div class="">
                    <table class="table table-stripped EditTable table-hover toggle-arrow-tiny">
                        <tbody>
                            <tr v-for="(testSample, index) in testSamples" class="clickable" v-on:click="openTestSamplePopup(testSample.testSample.isInternal, testSample)">
                                <td style="vertical-align: top;">
                                    <div class="row">
                                        <div class="col">
                                            {{ testSample.testSample.computedName}}
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: right;">
                                    <button :disabled="!experimentInDraftStatus" v-on:click.stop="deleteTestSample(index);"
                                            class="btn btn-secondary clickable" style="margin-right: 5%;">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>


@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/TestSample/TestSampleCmp.js" asp-append-version="true"></script>
