﻿<template id="ExperimentEditTemp">
    <div>
        <control-sample-type-edit :on-update-success-func="onControlSampleTypeSaved" ref="controlSampleTypeEditCmp"></control-sample-type-edit>

        <div class="modal inmodal fade" id="ExperimentEditCmp" role="dialog" aria-hidden="true" style="background:rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" >
                            <span aria-hidden="true" v-on:click="closeDetModal()">&times;</span>
                            <span class="sr-only">
                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                            </span>
                        </button>
                        <h4 class="modal-title">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Experiment")Experiment: {{currentElement.name}}</h4>
                    </div>

                    <div class="modal-body animated fadeInUp">

                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="">General</h3>
                            </div>
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row">
                                    <div class="form-group col-xl-6">
                                        <div class="row">
                                            <label for="name" class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("ExperimentName") Experiment Name
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" required type="text" class="form-control " v-model="currentElement.name" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Client
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" type="text" class="form-control " v-model="currentElement.consumer" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <select2-sync ref="slctRequester" element-id="slctRequester" @*:ddl-data="teamsList"*@
                                                              :multiple="false" :required="false" :on-change="onRequesterChange"
                                                              title="@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Requester")
                                                    Requester">
                                                </select2-sync>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <select2-sync ref="slctTeam" element-id="slctTeam" @*:ddl-data="teamsList"*@
                                                              :multiple="false" :required="true"
                                                              title="@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Location")
                                        Location">
                                                </select2-sync>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-12">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Instruction") Instruction
                                            </label>
                                            <div class="col-lg-12">
                                                <textarea :disabled="isPublished()" type="text" class="form-control" style="min-height:135px;"
                                                          v-model="currentElement.instruction" rows=3></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*------ START: Sample Preparation -------*@
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="">Sample preparation</h3>
                            </div>
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row">
                                   @* <div class="form-group col-xl-4">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Perfume concentration (%)
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" id="experimentEditperfumeConcentrationInput" type="number" class="form-control " v-model="currentElement.samplePreparation.perfumeConcentration">
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="form-group col-xl-4">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Evaporating time (h)
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" id="experimentEditevaporingTimeInput" type="number" class="form-control " v-model="currentElement.samplePreparation.evaporingTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Evaporating temperature (°C)
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" id="experimentEditEvaporingTemperatureInput" type="number" class="form-control " v-model="currentElement.samplePreparation.evaporingTemperature">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*------ END: Sample Preparation -------*@

                        @*------ START: Participants -------*@
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="">Participants</h3>
                            </div>
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row">
                                    <div class="form-group col-xl-4" v-for="(par, index) in currentElement.participants">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <select2-sync ref="slctParticipant" :element-id="'slctParticipant_' + index" @*:ddl-data="participantsDDList"*@
                                                              :multiple="false" :on-change="onParticipantChange"
                                                              title="Participant">
                                                </select2-sync>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a class="btn-group no-print" href="#">
                                                    <i style="font-size:30px; color:gray;"
                                                       v-on:click="participantAdd()" v-if="(index === 0 && currentElement.participants.length === 1) || (index !== 0 && index === currentElement.participants.length - 1)" 
                                                       class="fa fa-plus-circle" :class="{'disabled-plus' : addingParticipantDisabled, '' : !addingParticipantDisabled}" ></i>
                                                </a>
                                                <a class="btn-group no-print" href="#" :id=`minus-${index}`>
                                                    <i style="font-size:30px; color:gray;"
                                                       v-on:click="participantRemove(index, currentElement)" v-if="index !== 0 && !currentElement.participants[index].hasSubmittedResult" class="fa fa-minus-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @*------ END: Participants -------*@


                        @*------ START: Control Sample -------*@
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="">Control sample</h3>
                            </div>
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row">
                                    <div class="form-group col-xl-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <select2-and-edit-popup v-on:open-modal="openControlSampleTypeEditModal" ref="slctControlSampleType" :disabled="isPublished()" element-id="slctControlTypeSample"
                                                                        title="Product Name - Intensity" disable-edit="true"
                                                                        label-element-id="ControlSampleTypeLabel" api-controller="/ApiControlSampleType/" modal-id="ControlSampleTypeEditCmp">
                                                </select2-and-edit-popup>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                LOT Code
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" id="controlSampleLotCodeInput" type="text" min="1" max="10" class="form-control" v-model="currentElement.controlSample.lotCode" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                Manufactured date (oil is made)
                                            </label>
                                            <div class="input-group date col-lg-12" id="ManufacturedDateDatePicker">
                                                <span class="input-group-addon" id="ManufacturedDateDatePickerEventListener">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" :disabled="isPublished()"
                                                       v-model="currentElement.controlSample.manufacturedDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                Base
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" type="text" min="1" max="10" class="form-control" v-model="currentElement.controlSample.base" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-xl-4">
                                        <div class="row">
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4" v-show="othersPicked">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("SampleCode") Sample Code
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" type="text" class="form-control " v-model="currentElement.controlSample.sampleCode">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4" v-show="othersPicked">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("SampleName") Sample Name
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" type="text" class="form-control " v-model="currentElement.controlSample.sampleName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*------ END: Control Sample -------*@

                        @*------ START: BENCHMARKS -------*@
                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <h3 class="">Benchmarks</h3>
                            </div>
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row" v-for="(ben, index) in currentElement.experimentBenchmarks">
                                    <div class="form-group col-xl-4">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                Sample code
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" type="text" class="form-control " v-model="ben.benchmark.sampleCode">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                Sample name
                                            </label>
                                            <div class="col-lg-12">
                                                <input :disabled="isPublished()" type="text" class="form-control " v-model="ben.benchmark.sampleName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xl-4">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">&nbsp;</label>
                                            <div class="col-lg-12 d-flex justify-content-end">
                                                <div class="btn-group col-lg-6 justify-content-center">
                        @* <button type="button" v-on:click="experimentBenchmarkAdd()" class="btn btn-success">
                            Add Benchmark
                            </button>*@
                                                    <a class="btn-group no-print" href="#">
                                                        <i style="font-size:30px; color:gray;"
                                                           v-on:click="experimentBenchmarkAdd()" v-if="(index === 0 && currentElement.experimentBenchmarks.length === 1) || (index !== 0 && index === currentElement.experimentBenchmarks.length - 1)" class="fa fa-plus-circle"></i>
                                                    </a>
                                                    <a class="btn-group no-print" href="#">
                                                        <i style="font-size:30px; color:gray;"
                                                           v-on:click="experimentBenchmarkRemove(index, currentElement)" v-if="index !== 0" class="fa fa-minus-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        @*------ END: BENCHMARKS -------*@


                        @*------ START: TEST SAMPLE -------*@
                        <test-sample-cmp :experiment-id="experimentId" ref="testSampleCmp" :experiment-in-draft-status="experimentDraftStatus">

                        </test-sample-cmp>
                        @*------ END: TEST SAMPLE -------*@

                        @*------ BEGIN: COMMENT -------*@
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="">Comment</h3>
                            </div>
                            <div class="col-lg-12 white-back-with-radius">
                                <div class="row">
                                    <div class="form-group col-xl-12">
                                        <div class="row">
                                            <label class="col-lg-12 col-form-label">
                                                @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Comment") Comment
                                            </label>
                                            <div class="col-lg-12">
                                                <textarea :disabled="isPublished()" type="text" class="form-control" style="min-height:135px;"
                                                          v-model="currentElement.comment" rows=3></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*------ END: COMMENT -------*@
                    </div>

                    <div class="modal-footer" style="margin: auto; border-top:unset;">
                        <button type="button" class="btn btn-white" v-on:click="closeDetModal()">
                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                        </button>
                        <button :disabled="isNotEditable()" type="button" class="btn btn-primary" v-on:click="saveExperiment()">
                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("saveChanges")
                        </button>
                        <button :disabled="isNotPublishable()" type="button" class="btn btn-secondary" v-on:click="publishExperiment()">
                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("publish") Publish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/Experiment/ExperimentEditCmp.js" asp-append-version="true"></script>
<script src="~/js/Models/Experiment.js" asp-append-version="true"></script>
<script src="~/js/Models/Participant.js" asp-append-version="true"></script>
<script src="~/js/Models/ExperimentBenchmark.js" asp-append-version="true"></script>
<script src="~/js/Models/ExperimentTestSample.js" asp-append-version="true"></script>
