﻿<template id="ExperimentPreparationInformationTemp">
    <div class="modal inmodal fade" id="ExperimentPreparationInformationCmp" role="dialog" aria-hidden="true" style="z-index: 2051 !important;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span v-on:click="closeDetModal()" aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Preparation Information</h4>
                </div>

                <div id="printContainer" class="modal-body animated fadeInUp">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 id="experimentName" class="">Experiment {{ currentElement.name }}</h3>
                        </div>
                        <div class="col-lg-12 white-back-with-radius p-3 pl-4">

                            <div class="row">
                                <div class="col-12">Requester: {{ currentElement.requesterFullName }}</div>
                                <ul></ul>
                            </div>
                            @*SAMPLE PREPARATION*@
                            <div class="row">
                                <div class="col-12">Sample Preparation:</div>
                            </div>
                            <div class="row ml-4">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                            Evaporating Temperature: {{ currentElement.samplePreparation.evaporingTemperature }}°C
                                        </li>
                                        <li>
                                            Evaporating Time: {{ currentElement.samplePreparation.evaporingTime }}h
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            @*PARTICIPANTS*@
                            <div class="row">
                                <div class="col-12">Participants:</div>
                            </div>
                            <div class="row ml-4">
                                <div class="col-12">
                                    <ul>
                                        <li v-for="participant in currentElement.participants">
                                            {{ participant.participant.fullname }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            @*CONTROL SAMPLE*@
                            <div class="row">
                                <div class="col-12">Control Sample:</div>
                            </div>
                            <div class="row ml-4">
                                <div class="col-12">
                                    <ul>
                                        <li>
                                            Control Sample Name: {{ currentElement.controlSample.controlSampleTypeName }}
                                        </li>
                                        <li>
                                            Intensity: {{ currentElement.controlSample.controlSampleTypeIntensityScore }}/10
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            @*TEST SAMPLES*@
                            <div class="row">
                                <div class="col-12">Test Samples:</div>
                                <div class="col-12">
                                    <p>Please, be aware that during the test the following blinded codes will be used</p>
                                </div>
                            </div>
                            <div class="row ml-4">
                                <div class="col-12">
                                    <ul>
                                        <li v-for="testSample in currentElement.experimentTestSamples">

                                            {{ createTestSampleName(testSample) }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-secondary" v-on:click="closeDetModal()">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="printPreparationInformation()">
                        Print
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/Experiment/ExperimentPreparationInformationCmp.js" asp-append-version="true"></script>
