﻿<template id="ExperimentDuplicateTemp">
    <div class="modal inmodal fade" id="ExperimentDuplicateCmp" role="dialog" aria-hidden="true" style="z-index: 2051 !important;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only" v-on:click="closeDetModal()">
                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                        </span>
                    </button>
                    <h4 class="modal-title">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Experiment")Duplicate Experiment</h4>
                </div>

                <div class="modal-body animated fadeInUp">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="">Please enter new experiment name</h3>
                        </div>
                        <div class="col-lg-12 white-back-with-radius">
                            <div class="row">
                                <div class="form-group col-xl-12">
                                    <div class="row">
                                        <label class="col-lg-12 col-form-label">
                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Name") Name
                                        </label>
                                        <div class="col-lg-12">
                                            <input class="form-control " v-model="newExperimentName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-secondary" v-on:click="closeDetModal()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="duplicateExperiment()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("duplicate")
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/Experiment/DuplicateExperimentCmp.js" asp-append-version="true"></script>
