﻿<template id="TeamEditTemp">
    <div class="modal inmodal fade" id="TeamEditCmp" role="dialog" aria-hidden="true" style="z-index: 2051 !important; overflow: hidden !important;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only" v-on:click="closeDetModal()">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")</span>
                    </button>
                    <h4 class="modal-title">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("team"): {{currentElement.name}}</h4>
                </div>

                <div class="modal-body animated fadeInUp">
                    <div class="row">
                        <div class="form-group col-xl-4">
                            <div class="row">
                                <label for="phoneNumber" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("name")</label>
                                <div class="col-lg-12">
                                    <input  type="text" class="form-control intl-tel-input" v-model="currentElement.name" value="">
                                </div>
                            </div>
                        </div>
                       @* <div class="form-group col-xl-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <select2-sync ref="slctUser" element-id="slctUser" :ddl-data="userList" :multiple="true"
                                                  title="...users">
                                    </select2-sync>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-12">
                            <div class="row">
                                <label for="lastName" class="col-lg-12 col-form-label">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("description")</label>
                                <div class="col-lg-12">
                                    <textarea required type="text" class="form-control" v-model="currentElement.description" rows=3></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                         <div class="form-group col-xl-12">
                            <div class="row">
                                <label class="col-sm-4 col-md-12 col-form-label">@StaticTextCache.GetCurrentLangText("assignedUsers")</label>
                                <div class="col-sm-4 col-md-12">
                                     <a v-for="x in currentElement.assignedUsers" class="badge badge-umanova-task" style="margin-right: 3px; margin-bottom:2px;">{{x.email}}</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-white" v-on:click="closeDetModal()">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveTeam()">@TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("saveChanges")</button>
                </div>

            </div>
        </div>
    </div>
</template>

@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/TeamEdit/TeamEditCmp.js" asp-append-version="true"></script>
<script src="~/js/Models/Team.js" asp-append-version="true"></script>
