﻿<template id="ControlSampleTypeEditTemp">
    <div class="modal inmodal fade" id="ControlSampleTypeEditCmp" role="dialog" aria-hidden="true" tabindex="1" style="background:rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only" v-on:click="closeDetModal">
                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                        </span>
                    </button>
                    <h4 class="modal-title">New control sample</h4>
                </div>

                <div class="modal-body animated fadeInUp">
                    <div class="row">
                        <div class="col-lg-12 white-back-with-radius">
                            <div class="row">
                                <div class="form-group col-xl-6">
                                    <div class="row">
                                        <label class="col-lg-12 col-form-label">
                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Name") Name
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="controlSampleNameInput" type="text" class="form-control" v-model="currentElement.name" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-xl-6">
                                    <div class="row">
                                        <label class="col-lg-12 col-form-label">
                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("IntensityScore")Intensity Score (1-10)
                                        </label>
                                        <div class="col-lg-12">
                                            <input id="controlSampleIntensityScoreInput" type="number" min="1" max="10" class="form-control" v-model="currentElement.intensityScore" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-white" v-on:click="closeDetModal">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="saveControlSampleType()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("saveChanges")
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/ControlSample/ControlSampleTypeEditCmp.js" asp-append-version="true"></script>
