﻿

<div class="row">
    <div class="col-sm-2">
        <label class="font-normal">Add Experiment Statuses</label><br />
        <a href="@Url.Action("AddExperimentStatuses", "Admin")" class="btn btn-w-m btn-primary" role="button">Add Experiment Statuses</a>
    </div>
    <div class="col-sm-2">
        <label class="font-normal">Add All Permissions</label><br />
        <a href="@Url.Action("AddAllPermissions", "Admin")" class="btn btn-w-m btn-primary" role="button">Add All Permissions</a>
    </div>
</div>



@section Scripts{

<script src="~/js/Admin.js" asp-append-version="true"></script>

}