﻿
<template id="ExpParticResTemp">
    <div class="modal inmodal fade" id="ExpParticResCmp" role="dialog" aria-hidden="true" style="z-index: 2051 !important;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">
                        <span v-on:click="closeDetModal()" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">
                             <div v-if="currentElement.controlSampleResult" class="ibox border-bottom">
                                <div class="ibox-title">
                                    <h5>Control Sample: {{ currentElement.controlSampleResult.computedName }}</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link-for-dynamic">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="display: none;">

                                    @*------ START: Time -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") First detection time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input id="ControlSampleResult-firstDetectionTime" type="number" class="form-control" v-model="currentElement.controlSampleResult.firstDetectionTime">
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Build up time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input type="number" class="form-control" v-model="currentElement.controlSampleResult.buildUpTime">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Full detection time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input id="ControlSampleResult-fullDetectionTime" type="number" class="form-control" v-model="currentElement.controlSampleResult.fullDetectionTime">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------ END: Time -------*@

                                    @*------ START: Intensity -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Intensity (/10)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <div id="ControlSampleResult-intensity" class="round-custom-slider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Experiment Date
                                                        </label>
                                                        <div class="input-group date col-lg-12" id="ControlSampleResultDatePicker">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" id="ControlSampleResultDatePicker-date"
                                                                   v-model="currentElement.controlSampleResult.date" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------ END: Intensity -------*@

                                    @*------ START: Attributes  and desc -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Attributes
                                                        </label>

                                                        <div v-for="(attribute, index) in currentElement.controlSampleResult.attributeTexts" class="col-lg-12">
                                                            <input type="text" class="form-control" style="margin-bottom:5px" v-model="currentElement.controlSampleResult.attributeTexts[index]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-8">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Additional Comments
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <textarea type="text" class="form-control " style="height: 198px;" v-model="currentElement.controlSampleResult.sensation">
                                                                </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*------ END: Attributes  and desc -------*@
                                </div>
                            </div> 

                            <div v-for="testSample in currentElement.testSampleResults" class="ibox border-bottom">
                                <div class="ibox-title">
                                    <h5>{{ testSample.computedName }} </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link-for-dynamic">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="display: none;">

                                    @*------ START: Time -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") First detection time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input :id=`firstDetectionTime-${testSample.experimentBencTestSampId}` type="number" class="form-control" v-model="testSample.firstDetectionTime">
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Build up time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input type="number" class="form-control" v-model="testSample.buildUpTime">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Full detection time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input :id=`fullDetectionTime-${testSample.experimentBencTestSampId}` type="number" class="form-control" v-model="testSample.fullDetectionTime">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------ END: Time -------*@

                                    @*------ START: Intensity -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Intensity (/10)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <div :id="`intensity-${testSample.experimentBencTestSampId}-${currentElement.participantId}-${currentElement.experimentId}`" class="round-custom-slider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Experiment Date
                                                        </label>
                                                        <div class="input-group date col-lg-12" :id="`TestDatePicker_res-exp_${currentElement.experimentId}_par_${currentElement.participantId}_tesId_${testSample.experimentBencTestSampId}`">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" v-model="testSample.date" :id=`date-${testSample.experimentBencTestSampId}`
                                                            class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------ END: Intensity -------*@

                                    @*------ START: Attributes  and desc -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Attributes
                                                        </label>

                                                        <div v-for="(attribute, index) in testSample.attributeTexts" class="col-lg-12">
                                                            <input type="text" class="form-control" style="margin-bottom:5px" v-model="testSample.attributeTexts[index]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-8">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Additional Comments
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <textarea type="text" class="form-control " style="height: 198px;" v-model="testSample.sensation">
                                                                </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*------ END: Attributes  and desc -------*@
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-white" v-on:click="closeDetModal()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                    </button>
                    @*<button type="button" class="btn btn-primary" v-on:click="saveResults()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("saveChanges")
                    </button>*@
                    <button type="button" class="btn btn-secondary" v-on:click="submit()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("submit") Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    var experimentListPage = "@Url.Action("List","Experiment")";
</script>



<link href="~/lib/nouslider/latest/nouislider.css" rel="stylesheet">

@*----  Main JS file for this Component ----*@
<script src="~/lib/nouslider/latest/nouislider.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/Models/ParticipantResult.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/Components/ExpParticipantResult/ExpParticipantResultCmp.js" asp-append-version="true"></script>
