﻿
<template id="SingleExpResTemp">
    <div class="modal inmodal fade" id="SingleExpResCmp" role="dialog" aria-hidden="true" style="z-index: 2051 !important;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">
                        <span v-on:click="closeDetModal()" aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox border-bottom">
                                <div class="ibox-title">
                                    <h5>{{ currentElement.expResultType==3? "Control Sample: " + currentElement.computedName : currentElement.computedName }}</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link-for-dynamic">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="display: none;">
                                    @*------ START: Time -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") First Detection Time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input type="number" id="singleFirstDetectionTimeInput" class="form-control " v-model="currentElement.firstDetectionTime">
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Build up time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input type="number" class="form-control " v-model="currentElement.buildUpTime">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("Consumer") Full detection time (sec)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <input type="number" id="singleFullDetectionTimeInput" class="form-control " v-model="currentElement.fullDetectionTime">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------ END: Time -------*@

                                    @*------ START: Intensity -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Intensity (/10)
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <div id="singleIntensitySlider" class="round-custom-slider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Experiment Date
                                                        </label>
                                                        <div class="input-group date col-lg-12" :id="`TestDatePicker_wiz-parResId_${currentElement.participantResultId}`">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" id="singleDateInput"
                                                                   v-model="currentElement.date" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*------ END: Intensity -------*@

                                    @*------ START: Attributes  and desc -------*@
                                    <div class="row">
                                        <div class="col-lg-12 white-back-with-radius">
                                            <div class="row">
                                                <div class="form-group col-xl-4">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Attributes
                                                        </label>

                                                        <div v-for="(atribute, index) in currentElement.attributeTexts" class="col-lg-12">
                                                            <input type="text" class="form-control " style="margin-bottom:5px" v-model="currentElement.attributeTexts[index]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-8">
                                                    <div class="row">
                                                        <label class="col-lg-12 col-form-label">
                                                            Additional Comments
                                                        </label>
                                                        <div class="col-lg-12">
                                                            <textarea type="text" class="form-control" style="height: 198px;" v-model="currentElement.sensation">
                                                                </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------ END: Attributes  and desc -------*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-white" v-on:click="closeDetModal()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("close")
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="saveResult()">
                        @TrailAir.DB.DataManagersCache.StaticTextCache.GetCurrentLangText("saveChanges")
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<link href="~/lib/nouslider/latest/nouislider.css" rel="stylesheet">

@*----  Main JS file for this Component ----*@
<script src="~/lib/nouslider/latest/nouislider.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/Models/ExperimentResult.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/Components/ExpParticipantResult/SingleExperimentResultCmp.js" asp-append-version="true"></script>
