﻿.tippy-touch {
    cursor: pointer !important
}

.tippy-popper {
    visibility: hidden;
    max-width: 400px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 9999
}

    .tippy-popper.html-template {
        max-width: 95%;
        max-width: calc(100% - 2rem)
    }

    .tippy-popper[x-placement=top] [x-arrow] {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: -5px
    }

    .tippy-popper[x-placement=top] [x-circle] {
        -webkit-transform-origin: 0 33%;
        transform-origin: 0 33%
    }

        .tippy-popper[x-placement=top] [x-circle].enter {
            opacity: 1;
            -webkit-transform: scale(1) translate(-50%,-50%);
            transform: scale(1) translate(-50%,-50%)
        }

        .tippy-popper[x-placement=top] [x-circle].leave {
            opacity: 0;
            -webkit-transform: scale(0) translate(-50%,-50%);
            transform: scale(0) translate(-50%,-50%)
        }

    .tippy-popper[x-placement=top] [data-animation=none].enter, .tippy-popper[x-placement=top] [data-animation=none].leave {
        opacity: 1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    .tippy-popper[x-placement=top] [data-animation=perspective] {
        -webkit-transform-origin: bottom;
        transform-origin: bottom
    }

        .tippy-popper[x-placement=top] [data-animation=perspective].enter {
            opacity: 1;
            -webkit-transform: translateY(-10px) rotateX(0);
            transform: translateY(-10px) rotateX(0)
        }

        .tippy-popper[x-placement=top] [data-animation=perspective].leave {
            opacity: 0;
            -webkit-transform: translateY(0) rotateX(90deg);
            transform: translateY(0) rotateX(90deg)
        }

    .tippy-popper[x-placement=top] [data-animation=fade].enter {
        opacity: 1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    .tippy-popper[x-placement=top] [data-animation=fade].leave {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    .tippy-popper[x-placement=top] [data-animation=shift].enter {
        opacity: 1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    .tippy-popper[x-placement=top] [data-animation=shift].leave {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .tippy-popper[x-placement=top] [data-animation=scale].enter {
        opacity: 1;
        -webkit-transform: translateY(-10px) scale(1);
        transform: translateY(-10px) scale(1)
    }

    .tippy-popper[x-placement=top] [data-animation=scale].leave {
        opacity: 0;
        -webkit-transform: translateY(0) scale(0);
        transform: translateY(0) scale(0)
    }

    .tippy-popper[x-placement=bottom] [x-arrow] {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -5px
    }

    .tippy-popper[x-placement=bottom] [x-circle] {
        -webkit-transform-origin: 0 -33%;
        transform-origin: 0 -33%
    }

        .tippy-popper[x-placement=bottom] [x-circle].enter {
            opacity: 1;
            -webkit-transform: scale(1) translate(-50%,-50%);
            transform: scale(1) translate(-50%,-50%)
        }

        .tippy-popper[x-placement=bottom] [x-circle].leave {
            opacity: 0;
            -webkit-transform: scale(0) translate(-50%,-50%);
            transform: scale(0) translate(-50%,-50%)
        }

    .tippy-popper[x-placement=bottom] [data-animation=none].enter, .tippy-popper[x-placement=bottom] [data-animation=none].leave {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    .tippy-popper[x-placement=bottom] [data-animation=perspective] {
        -webkit-transform-origin: top;
        transform-origin: top
    }

        .tippy-popper[x-placement=bottom] [data-animation=perspective].enter {
            opacity: 1;
            -webkit-transform: translateY(10px) rotateX(0);
            transform: translateY(10px) rotateX(0)
        }

        .tippy-popper[x-placement=bottom] [data-animation=perspective].leave {
            opacity: 0;
            -webkit-transform: translateY(0) rotateX(-90deg);
            transform: translateY(0) rotateX(-90deg)
        }

    .tippy-popper[x-placement=bottom] [data-animation=fade].enter {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    .tippy-popper[x-placement=bottom] [data-animation=fade].leave {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    .tippy-popper[x-placement=bottom] [data-animation=shift].enter {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    .tippy-popper[x-placement=bottom] [data-animation=shift].leave {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .tippy-popper[x-placement=bottom] [data-animation=scale].enter {
        opacity: 1;
        -webkit-transform: translateY(10px) scale(1);
        transform: translateY(10px) scale(1)
    }

    .tippy-popper[x-placement=bottom] [data-animation=scale].leave {
        opacity: 0;
        -webkit-transform: translateY(0) scale(0);
        transform: translateY(0) scale(0)
    }

    .tippy-popper[x-placement=left] [x-arrow] {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        right: -5px;
        top: 50%
    }

    .tippy-popper[x-placement=left] [x-circle] {
        -webkit-transform-origin: 50% 5%;
        transform-origin: 50% 5%
    }

        .tippy-popper[x-placement=left] [x-circle].enter {
            opacity: 1;
            -webkit-transform: scale(1) translate(-50%,-50%);
            transform: scale(1) translate(-50%,-50%)
        }

        .tippy-popper[x-placement=left] [x-circle].leave {
            opacity: 0;
            -webkit-transform: scale(0) translate(-50%,-33%);
            transform: scale(0) translate(-50%,-33%)
        }

    .tippy-popper[x-placement=left] [data-animation=none].enter, .tippy-popper[x-placement=left] [data-animation=none].leave {
        opacity: 1;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }

    .tippy-popper[x-placement=left] [data-animation=perspective] {
        -webkit-transform-origin: right;
        transform-origin: right
    }

        .tippy-popper[x-placement=left] [data-animation=perspective].enter {
            opacity: 1;
            -webkit-transform: translateX(-10px) rotateY(0);
            transform: translateX(-10px) rotateY(0)
        }

        .tippy-popper[x-placement=left] [data-animation=perspective].leave {
            opacity: 0;
            -webkit-transform: translateX(0) rotateY(-90deg);
            transform: translateX(0) rotateY(-90deg)
        }

    .tippy-popper[x-placement=left] [data-animation=fade].enter {
        opacity: 1;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }

    .tippy-popper[x-placement=left] [data-animation=fade].leave {
        opacity: 0;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }

    .tippy-popper[x-placement=left] [data-animation=shift].enter {
        opacity: 1;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }

    .tippy-popper[x-placement=left] [data-animation=shift].leave {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .tippy-popper[x-placement=left] [data-animation=scale].enter {
        opacity: 1;
        -webkit-transform: translateX(-10px) scale(1);
        transform: translateX(-10px) scale(1)
    }

    .tippy-popper[x-placement=left] [data-animation=scale].leave {
        opacity: 0;
        -webkit-transform: translateX(0) scale(0);
        transform: translateX(0) scale(0)
    }

    .tippy-popper[x-placement=right] [x-arrow] {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: -5px;
        top: 50%
    }

    .tippy-popper[x-placement=right] [x-circle] {
        -webkit-transform-origin: -50% 5%;
        transform-origin: -50% 5%
    }

        .tippy-popper[x-placement=right] [x-circle].enter {
            opacity: 1;
            -webkit-transform: scale(1) translate(-50%,-50%);
            transform: scale(1) translate(-50%,-50%)
        }

        .tippy-popper[x-placement=right] [x-circle].leave {
            opacity: 0;
            -webkit-transform: scale(0) translate(-50%,-33%);
            transform: scale(0) translate(-50%,-33%)
        }

    .tippy-popper[x-placement=right] [data-animation=none].enter, .tippy-popper[x-placement=right] [data-animation=none].leave {
        opacity: 1;
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }

    .tippy-popper[x-placement=right] [data-animation=perspective] {
        -webkit-transform-origin: left;
        transform-origin: left
    }

        .tippy-popper[x-placement=right] [data-animation=perspective].enter {
            opacity: 1;
            -webkit-transform: translateX(10px) rotateY(0);
            transform: translateX(10px) rotateY(0)
        }

        .tippy-popper[x-placement=right] [data-animation=perspective].leave {
            opacity: 0;
            -webkit-transform: translateX(0) rotateY(90deg);
            transform: translateX(0) rotateY(90deg)
        }

    .tippy-popper[x-placement=right] [data-animation=fade].enter {
        opacity: 1;
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }

    .tippy-popper[x-placement=right] [data-animation=fade].leave {
        opacity: 0;
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }

    .tippy-popper[x-placement=right] [data-animation=shift].enter {
        opacity: 1;
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }

.tippy-popper {
    outline: 0 !important;
}

    .tippy-popper[x-placement=right] [data-animation=shift].leave {
        opacity: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .tippy-popper[x-placement=right] [data-animation=scale].enter {
        opacity: 1;
        -webkit-transform: translateX(10px) scale(1);
        transform: translateX(10px) scale(1)
    }

    .tippy-popper[x-placement=right] [data-animation=scale].leave {
        opacity: 0;
        -webkit-transform: translateX(0) scale(0);
        transform: translateX(0) scale(0)
    }

.tippy-tooltip {
    position: relative;
    color: #fff;
    border-radius: 4px;
    padding: .5rem 1rem;
    text-align: center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333
}

    .tippy-tooltip [x-arrow] {
        z-index: -1;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #333;
        border: 1px solid;
        border-color: transparent transparent #333 #333
    }

    .tippy-tooltip[data-animatefill] {
        overflow: hidden;
        background-color: transparent
    }

    .tippy-tooltip [x-circle] {
        position: absolute;
        will-change: transform;
        background-color: #333;
        border-radius: 50%;
        width: 130%;
        width: calc(125% + 2rem);
        height: 0;
        padding-bottom: 130%;
        padding-bottom: calc(125% + 2rem);
        left: 50%;
        -webkit-transition: all ease-out;
        transition: all ease-out;
        z-index: -1;
        opacity: 0
    }

    .tippy-tooltip.light-theme {
        color: #203d5d;
        box-shadow: 0 0 16px -4px rgba(0,20,40,.2),0 0 80px -10px rgba(0,20,40,.3);
        background-color: #f3f6f9;
        border: 1px solid #ced2e2
    }

        .tippy-tooltip.light-theme [x-circle] {
            background-color: #f3f6f9
        }

        .tippy-tooltip.light-theme [x-arrow] {
            background-color: #f3f6f9;
            border-color: transparent transparent #ced2e2 #ced2e2
        }

        .tippy-tooltip.light-theme[data-animatefill] {
            background-color: transparent
        }

@media (max-width:500px) {
    .tippy-popper {
        max-width: 95%;
        max-width: calc(100% - 2rem)
    }
}
