﻿

<div class="row wrapper purple-2-bg page-heading" style="min-height:90vh;">
    <br />
    <div class="col-lg-12 d-flex justify-content-center">
        <h2 class="purple-title">
            @*TODO: Replace this with static text*@
            Please select a sample
        </h2>
    </div>
    <div style="width:100%;">
        <div class="col-lg-8 d-flex justify-content-start" style="flex-basis: 33.333333%; flex-wrap: wrap; margin: auto;">
            <div class="col-lg-4 cursor-pointer" style="margin-top: 40px;"
                 v-for="(x, index) in currentElement.bechTestSampleResults" :disabled="x.isSubmitted">
                <div class="d-flex flex-column align-items-center justify-content-center"
                     style="height:150px; border-radius:45px;" :class="{ 'grey-back' : x.isSubmitted, 'purple-1-bg purple-hover' : !x.isSubmitted }"
                     v-on:click="openExperimentWizardTest(x, x.expResultType)">
                    <img src="~/images/CalibrateLogo-WhiteTransparentBack.PNG" class="mb-2" />
                    <h3 class="text-light mb-3">Insert:</h3> @*TODO: Replace this with static text*@
                    <h3 class="text-light">Sample {{x.sampleCode}}</h3> @*TODO: Replace this with static text*@
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; height: fit-content; align-self: end; margin-top: 15px;">
        <div class="col-lg-8 d-flex" style="margin: auto;">
            <div class="col-lg-6">
                <div class="col-lg-6 d-flex justify-content-start pl-0">
                    <button type="button" class="btn btn-danger btn-lg" v-on:click="dontSave()"
                            style="border-radius:18px; max-width: 190px; width:100%;">
                        <div class="d-flex justify-content-center" style="max-height: 20px;">
                            <p style="margin:unset;">Don't save </p>
                        </div>
                    </button> @*TODO: Replace this with static text*@
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end mr-0">
                <button type="button" :disabled="isResumeButtonDisabled" class="btn btn-success btn-lg" v-on:click="goToResumePage()"
                        style="border-radius:18px; max-width: 190px; width:100%;">
                    <div class="d-flex justify-content-between" style="max-height: 20px;">
                        <p style="margin:unset;">Resume and validate</p>
                        <i style="margin-top: 2px;" class="fa fa-arrow-right"></i>
                    </div>
                </button> @*TODO: Replace this with static text*@
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script type="text/javascript">
    var experimentIdGlobal = @ViewBag.experimentId;
    var participantIdGlobal = "@ViewBag.participantId";
    var experimentListPage = "@Url.Action("List","Experiment")";
    var experimentWizardTestPage = "@Url.Action("ExperimentWizardTest", "Experiment")"
    var experimentWizardResumePage = "@Url.Action("ExperimentWizardResume", "Experiment")" /*TODO:Remove this after you're done!!*/
</script>

<script src="~/js/Models/Experiment.js" asp-append-version="true"></script>
<script src="~/js/ExperimentWizardSteps/ExperimentWizardSamplePicker.js" asp-append-version="true"></script>
}