﻿<div class="row wrapper page-heading align-items-center flex-column">

    <single-exp-result ref="singleExpResult"></single-exp-result>

    <div class="col-lg-12 d-flex justify-content-center">
        <h2 class="purple-title">
            Resume
        </h2>
    </div>@*TODO: Replace this with static text*@
    <br /><br />
    <div class="col-lg-10 wizard-vert-table-size">
        <table class="table table-stripped table-hover no-margins toggle-arrow-tiny resume-table">
            <thead>
                <tr class="no-border-table-headers">
                    <th class=" wizard-table-samp-max-width"></th>
                    <th class="purple-title wizard-table-int-max-width" style="text-align: center;">
                        <div class="col-lg-12">
                            Intensity
                        </div>
                    </th>
                    <th class="purple-title wizard-table-desc-width vertical-purple-dots-left" style="text-align: center;">
                        <div class="col-lg-12">
                            Descriptors
                        </div>
                    </th>
                    <th class="purple-title  vertical-purple-dots-left" style="text-align: start;">
                        <div class="col-lg-12">
                            Sensation
                        </div>
                    </th>
                    <th class="wizard-table-mod-max-width"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="exResult in experimentResultsList">
                    <td class="purple-title wizard-table-samp-max-width">
                        <h3 class="m-0">{{ exResult.expResultType==3? "Control Sample: " + exResult.computedName : "Sample S"+exResult.sampleIndex }}</h3>
                    </td>
                    <td class="wizard-table-int-max-width">
                        <div class="d-flex justify-content-end">
                            <div class="d-flex align-items-end">
                                <h1 class="purple-title m-0" style="padding: 0 0 10px 0;">
                                    {{ exResult.intensity }}
                                </h1>
                                <h1 class="" style="margin: 0 5px 0 0">/10</h1>
                            </div>
                        </div>
                    </td>
                    <td class="wizard-table-desc-width vertical-purple-dots-left">
                        <table class="wizard-desc-column-tbl">
                            <tr v-for="(attr, index) in exResult.attributeTexts">
                                <td>{{ index + 1 }} </td>
                                <td>{{ attr == "" ? "-" : attr }}</td>
                            </tr>
                        </table>
                    </td>
                    <td class=" vertical-purple-dots-left">
                        <div class="col-lg-12">
                            {{ exResult.sensation }}
                        </div>
                    </td>
                    <td class="wizard-table-mod-max-width">
                        <div class="d-flex h-100  cursor-pointer" v-on:click="modify(exResult.id, exResult.expResultType);">
                            <i style="font-size:22px; margin-right:10px;" class="fa fa-pencil purple-title"></i>
                            <p class="purple-title" style="text-decoration:underline; margin: unset; align-self:center;">Modify</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br /><br /><br />
    <div class="col-lg-10 d-flex">
            <div class="col-lg-6 d-flex justify-content-start pl-0">
                <button type="button" class="btn btn-danger btn-lg" v-on:click="onCancel()"
                        style="border-radius:18px; max-width: 190px; width:100%;">
                    <div class="d-flex justify-content-center" style="max-height: 20px;">
                        <p style="margin:unset;">Don't save </p>
                    </div>
                </button> @*TODO: Replace this with static text*@
            </div>
        <div class="col-lg-6 d-flex justify-content-center pr-0">
            <div class="col-lg-12 d-flex justify-content-end pr-0">
                <button type="button" class="btn btn-success btn-lg" v-on:click="submitResults()"
                        style="border-radius:18px; max-width: 190px; width:100%;">
                    <div class="d-flex justify-content-between" style="max-height: 20px;">
                        <p style="margin:unset;">Validate </p>
                        <i style="margin-top: 2px;" class="fa fa-arrow-right"></i>
                    </div>
                </button> @*TODO: Replace this with static text*@
            </div>
        </div>
    </div>
</div>

@section Scripts{

    
    @Html.Partial("../Components/ExpParticipantResult/SingleExperimentResultCmp.cshtml")

<script type="text/javascript">
    var experimentIdGlobal = @ViewBag.experimentId;
    var participantIdGlobal = "@ViewBag.participantId";
    var experimentWizardSamplePickerPage = "@Url.Action("ExperimentWizardResume", "Experiment")"
    var experimentListPage = "@Url.Action("List","Experiment")";
</script>


<script src="~/js/Models/Experiment.js" asp-append-version="true"></script>
<script src="~/js/ExperimentWizardSteps/ExperimentWizardResume.js" asp-append-version="true"></script>

}