﻿
<div class="row wrapper purple-2-bg page-heading flex-column align-items-center" id="ExpWizardTestCmp">
    <br />
    <div class="col-lg-12">
        <h2 class="purple-title">
            @*TODO: Replace this with static text*@
            Sample {{ currentElement.sampleCode }}
        </h2>
    </div>
    <br />

    @*-------  START: Start timer --------*@
    <div class="col-lg-12 d-flex justify-content-center" style="min-height: 37.5px;">
        <button v-show="!timerStarted" type="button" class="btn btn-info btn-lg" v-on:click="startTimer()"
                style="border-radius:18px; max-width: 190px; width:100%;">
            <div class="d-flex justify-content-around" style="max-height: 20px;">
                <p style="margin:unset;">Start timer </p>
                <i style="margin-top: 2px;" class="fa fa-clock-o"></i>
            </div>
        </button> @*TODO: Replace this with static text*@
        <div v-show="timerStarted" class="h-100" style="display: flex;">
            <h2 style="margin:unset" class="purple-title" id="minutes">00</h2>
            <h2 style="margin:unset">:</h2>
            <h2 style="margin:unset" class="purple-title" id="seconds">00</h2>
        </div>
    </div>
    <br /><br />
    <div class="col-lg-8 d-flex justify-content-center" style="min-height: 37.5px;">

        @*-------  START: Fragrance detected --------*@
        <div class="col-lg-4 d-flex justify-content-end h-100">
            <button :class="!timerStarted || timerStopped ? 'btn btn-lg btn-secondary':'btn btn-info btn-lg'" v-show="!firstDetectionTimeSet" :disabled="!timerStarted || timerStopped" type="button" v-on:click="onFragranceDetected()"
                    style="border-radius:18px; max-width: 190px; width:100%;">
                <div class="d-flex justify-content-around" style="max-height: 20px;">
                    <p style="margin:unset;">Fragrance detected </p>
                    <i style="margin-top: 2px;" class="fa fa-clock-o"></i>
                </div>
            </button> @*TODO: Replace this with static text*@
            <div v-show="firstDetectionTimeSet" style="display:flex; justify-content: end;">
                <div class="col-lg-12 d-flex h-100 align-items-center">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <p style="margin:2px">{{firstDetTimeFormatted}}</p>
                        <p style="margin:5px">Fragrance detected</p>
                        <i class="fa fa-check-circle" style="font-size:25px; color: green;"></i>
                    </div>
                </div>
            </div>
        </div>
        @*-------  END: Fragrance detected --------*@

        @*-------  START: Build up --------*@
        <div class="col-lg-4 d-flex justify-content-center h-100">
            <button :class="!firstDetectionTimeSet || timerStopped ? 'btn btn-lg btn-secondary':'btn btn-info btn-lg'" v-show="!buildUpTimeSet" :disabled="!firstDetectionTimeSet || (firstDetectionTimeSet && timerStopped)" type="button" v-on:click="onBuildup()"
                    style="border-radius:18px; max-width: 190px; width:100%;">
                <div class="d-flex justify-content-around" style="max-height: 20px;">
                    <p style="margin:unset;">Build up </p>
                    <i style="margin-top: 2px;" class="fa fa-clock-o"></i>
                </div>
            </button> @*TODO: Replace this with static text*@
            <div v-show="buildUpTimeSet" style="display:flex; justify-content: center;">
                <div class="col-lg-12 d-flex h-100 align-items-center">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <p style="margin:2px">{{buildUpTimeFormatted}}</p>
                        <p style="margin:5px">Build up</p>
                        <i class="fa fa-check-circle" style="font-size:25px; color: green;"></i>
                    </div>
                </div>
            </div>
        </div>
        @*-------  END: Build up --------*@

        @*-------  START: Full fragrance --------*@
        <div class="col-lg-4 d-flex justify-content-start h-100">
            <button :class="!firstDetectionTimeSet ? 'btn btn-lg btn-secondary':'btn btn-info btn-lg'" v-show="!fullDetTimeSet" :disabled="!firstDetectionTimeSet" type="button" v-on:click="onFullFragrance()"
                    style="border-radius:18px; max-width: 190px; width:100%;">
                <div class="d-flex justify-content-around" style="max-height: 20px;">
                    <p style="margin:unset;">Full fragrance</p>
                    <i style="margin-top: 2px;" class="fa fa-clock-o"></i>
                </div>
            </button> @*TODO: Replace this with static text*@
            <div v-show="fullDetTimeSet" style="display:flex; justify-content: start;">
                <div class="col-lg-12 d-flex h-100 align-items-center">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <p style="margin:2px">{{fullDetTimeFormatted}}</p>
                        <p style="margin:5px">Full fragrance</p>
                        <i class="fa fa-check-circle" style="font-size:25px; color: green;"></i>
                    </div>
                </div>
            </div>
        </div>
        @*-------  END: Full fragrance --------*@
    </div>
    <br /><br /><br /><br />
    @*-------  END: Start timer --------*@

    @*-------  START: Intensity--------*@
    <div class="col-lg-12">
        <div class="col-lg-8 m-auto d-flex flex-column align-items-center">
            <h4 class="purple-title">Please rate the perceived intensity</h4>@*TODO: Replace this with static text*@
            <div class="col-lg-12">
                <div id="Intensity_Slider" class="round-custom-slider"></div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    @*-------  END: Intensity --------*@


    <div class="col-lg-12 d-flex">
        @*-------  START: Attributes --------*@
        <div class="col-lg-6 d-flex flex-column align-items-center">
            <h4 class="purple-title">Choose up to 5 attributes to describe the character of the sample.</h4> @*TODO: Replace this with static text*@
            <br />
            <div class="col-lg-10">
                <div class="d-flex mb-2" v-for="(att, index) in currentElement.attributeTexts">
                    <h4 class=" col-lg-1">{{index + 1}}</h4>
                    <input type="text" class="form-control col-lg-10" v-model="currentElement.attributeTexts[index]" value="">
                </div>
            </div>
        </div>
        @*-------  END: Attributes --------*@


        @*-------  START: Sensation --------*@
        <div class="col-lg-6 d-flex flex-column align-items-center">
            <h4 class="purple-title">Additional Comments</h4> @*TODO: Replace this with static text*@
            <br />
            <div class="col-lg-10">
                @*TODO: Replace this with static text*@
                <textarea type="text" class="form-control" style="height: 216px;" v-model="currentElement.sensation" placeholder="Write your notes ...">
                </textarea>
            </div>
        </div>
        @*-------  END: Sensation --------*@
    </div>
    <br /><br />


    @*-------  START: Next sample button --------*@
    <div class="col-lg-12 d-flex">
        <div class="col-lg-6">
            <div class="col-lg-6 d-flex justify-content-end">
                <button type="button" class="btn btn-success btn-lg" v-on:click="backToSamplePicker()"
                        style="border-radius:18px; max-width: 190px; width:100%;">
                    <div class="d-flex justify-content-between" style="max-height: 20px;">
                        <i style="margin-top: 2px;" class="fa fa-arrow-left"></i>
                        <p style="margin:unset;">Sample picker</p>
                    </div>
                </button> @*TODO: Replace this with static text*@
                
                <button type="button" class="btn btn-danger btn-lg" v-on:click="dontSave()"
                        style="border-radius:18px; max-width: 190px; width:100%;">
                    <div class="d-flex justify-content-center" style="max-height: 20px;">
                        <p style="margin:unset;">Don't save </p>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="col-lg-8 d-flex justify-content-end">

                <button :disabled="nextSampleClicked" type="button" class="btn btn-success btn-lg" v-on:click="saveBaseExperimentResult()"
                        style="border-radius:18px; max-width: 190px; width:100%;">
                    <div class="d-flex justify-content-between" style="max-height: 20px;">
                        <p style="margin:unset;">Next Sample </p>
                        <i style="margin-top: 2px;" class="fa fa-arrow-right"></i>
                    </div>
                </button> @*TODO: Replace this with static text*@
            </div>
        </div>
    </div>
    @*-------  END: Next sample button --------*@
</div>

<link href="~/lib/nouslider/latest/nouislider.css" rel="stylesheet">

@section Scripts{

<script type="text/javascript">
    var experimentIdGlobal = @ViewBag.experimentId;
    var participantIdGlobal = "@ViewBag.participantId";
    var experimentListPage = "@Url.Action("List","Experiment")";
    var expTestSamplIdGlobal = @ViewBag.expTestSamplId;
    //var baseExperimentResultIdGlobal = @ViewBag.expControlSamplId;
    //var baseExperimentResultTypeGlobal = @ViewBag.baseExperimentResultType;
    var experimentWizardSamplePickerPage = "@Url.Action("ExperimentWizardSamplePicker", "Experiment")"
</script>

<script src="~/lib/nouslider/latest/nouislider.min.js" asp-append-version="true"></script>
<script src="~/js/Models/Experiment.js" asp-append-version="true"></script>
<script src="~/js/ExperimentWizardSteps/ExperimentWizardTest.js" asp-append-version="true"></script>

}