﻿<template id="Select2AndEditPopupTemp">
    <select2-sync ref="slctDDL" :element-id="elementId" @*:ddl-data="ddlData"*@ :multiple="false"
                  :title="title" :label-element-id="labelElementId">
    </select2-sync>
</template>

@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/Select2/Select2-And-Edit-PopupCmp.js" asp-append-version="true"></script>