﻿
<template id="Select2-SyncTemp">
    <div>
        <label :id="labelElementId" v-show="title != null" class="col-form-label">{{title}}</label>
        <div class="form-group">
            <select :id="elementId" :required="required" class="form-control"></select>
        </div>
    </div>
</template>

@*----  Main JS file for this Component ----*@
<script type="text/javascript" src="~/js/Components/Select2/Select2-SyncCmp.js" asp-append-version="true"></script>

